openapi: 3.0.1
info:
  title: HubSpot Marketing
  version: v3
servers:
- url: https://api.hubapi.com
paths:
  /marketing/v3/emails/:
    get:
      tags:
      - Marketing Emails
      summary: Get all marketing emails for a HubSpot account.
      description: The results can be filtered, allowing you to find a specific set
        of emails. See the table below for a full list of filtering options.
      operationId: GetListMarketingEmails
      parameters:
      - name: createdAt
        in: query
        description: Only return emails created at exactly the specified time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAfter
        in: query
        description: Only return emails created after the specified time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: Only return emails created before the specified time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: Only return emails last updated at exactly the specified time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAfter
        in: query
        description: Only return emails last updated after the specified time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: Only return emails last updated before the specified time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        description: Specifies which fields to use for sorting results. Valid fields
          are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt`
          will be used by default.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: after
        in: query
        description: The cursor token value to get the next set of results. You can
          get this from the `paging.next.after` JSON property of a paged response
          containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to return. Default is 100.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: includeStats
        in: query
        description: Include statistics with emails.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: marketingCampaignNames
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: workflowNames
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: type
        in: query
        description: Email types to be filtered by. Multiple types can be included.
          All emails will be returned if not present.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - AB_EMAIL
          - BATCH_EMAIL
          - LOCALTIME_EMAIL
          - AUTOMATED_AB_EMAIL
          - BLOG_EMAIL
          - BLOG_EMAIL_CHILD
          - RSS_EMAIL
          - RSS_EMAIL_CHILD
          - RESUBSCRIBE_EMAIL
          - OPTIN_EMAIL
          - OPTIN_FOLLOWUP_EMAIL
          - AUTOMATED_EMAIL
          - FEEDBACK_CES_EMAIL
          - FEEDBACK_CUSTOM_EMAIL
          - FEEDBACK_CUSTOM_SURVEY_EMAIL
          - FEEDBACK_NPS_EMAIL
          - FOLLOWUP_EMAIL
          - LEADFLOW_EMAIL
          - SINGLE_SEND_API
          - MARKETING_SINGLE_SEND_API
          - SMTP_TOKEN
          - TICKET_EMAIL
          - MEMBERSHIP_REGISTRATION_EMAIL
          - MEMBERSHIP_PASSWORD_SAVED_EMAIL
          - MEMBERSHIP_PASSWORD_RESET_EMAIL
          - MEMBERSHIP_EMAIL_VERIFICATION_EMAIL
          - MEMBERSHIP_PASSWORDLESS_AUTH_EMAIL
          - MEMBERSHIP_REGISTRATION_FOLLOW_UP_EMAIL
          - MEMBERSHIP_OTP_LOGIN_EMAIL
          - MEMBERSHIP_FOLLOW_UP_EMAIL
          - MEMBERSHIP_VERIFICATION_EMAIL
      - name: isPublished
        in: query
        description: Filter by published/draft emails. All emails will be returned
          if not present.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: includedProperties
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: archived
        in: query
        description: Specifies whether to return archived emails. Defaults to `false`.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalPublicEmailForwardPaging'
              example:
                total: 1
                results:
                - activeDomain: ''
                  archived: false
                  content:
                    templatePath: generated_layouts/4701002617.html
                    widgets:
                      Social_Sharing:
                        body: {}
                        child_css: {}
                        css: {}
                        id: Social_Sharing
                        label: Social Sharing
                        name: Social_Sharing
                        type: social_sharing
                      column1:
                        body:
                          html: ''
                        child_css: {}
                        css: {}
                        id: column1
                        label: Column Above Body
                        name: column1
                        type: rich_text
                      hs_email_body:
                        body:
                          html: '<p>Hi {{contact.firstname}},</p>

                            <p>This is an example of an email in HubSpot. You can
                            add and format text, include your own images, and even
                            personalize the message with details about the recipient,
                            like their {{contact.company}} or {{contact.city}}.</p>

                            <p>In HubSpot, the Email tool is closely linked with the
                            <em>Lists</em> and <em>Workflows</em> tools. You can create
                            a list of recipients on the "Sending" tab up above. If
                            you want this email to be part of a nurturing series,
                            you can make it part of a workflow.</p>

                            <p>Need help? Check out the documentation on <a href="http://help.hubspot.com/articles/Tutorial/how-to-use-email-tool">creating
                            an email</a>, <a href="http://help.hubspot.com/articles/How_To_Doc/how-to-create-a-smart-list-in-hubspot">creating
                            a list</a>, or <a href="http://help.hubspot.com/articles/Tutorial/set-up-workflows">creating
                            a workflow</a>.</p>'
                        child_css: {}
                        css: {}
                        id: hs_email_body
                        label: Main Email Body
                        name: hs_email_body
                        type: rich_text
                      logo_image:
                        body:
                          alt: vast.png
                          height: 135
                          link: ''
                          override_inherited_src: false
                          src: ''
                          suppress_company_name: false
                          width: 413
                        child_css: {}
                        css: {}
                        id: logo_image
                        label: Logo
                        name: logo_image
                        type: logo
                      module_148465958537693:
                        body:
                          html: '<h2>Something Powerful</h2>

                            <h3>Tell The Reader More</h3>

                            <p>The headline and subheader tells us what you''re <a
                            href="#">offering</a>, and the form header closes the
                            deal. Over here you can explain why your offer is so great
                            it''s worth filling out a form for.</p>

                            <p>Remember:</p>

                            <ul>

                            <li>Bullets are great</li>

                            <li>For spelling out <a href="#">benefits</a> and</li>

                            <li>Turning visitors into leads.</li>

                            </ul>'
                        child_css: {}
                        css: {}
                        id: module_148465958537693
                        label: Rich Text
                        name: module_148465958537693
                        type: rich_text
                      preview_text:
                        body:
                          value: ''
                        child_css: {}
                        css: {}
                        id: preview_text
                        label: Preview Text <span class=help-text>This will be used
                          as the preview text that displays in some email clients</span>
                        name: preview_text
                        type: text
                      social_sharing_label:
                        body: {}
                        child_css: {}
                        css: {}
                        id: social_sharing_label
                        label: Social Sharing Label
                        name: social_sharing_label
                        type: text
                  createdAt: '2017-02-16T13:05:18.390Z'
                  createdById: 2983922
                  from:
                    fromName: Bruce Wayne
                    replyTo: test@yahoo.com
                  id: '4613448134'
                  isPublished: true
                  isTransactional: false
                  name: Fail dmarc
                  sendOnPublish: true
                  state: PUBLISHED
                  stats:
                    counters:
                      sent: 1
                      open: 0
                      delivered: 0
                      bounce: 1
                      unsubscribed: 0
                      click: 0
                      reply: 0
                      dropped: 0
                      selected: 1
                      spamreport: 0
                      suppressed: 0
                      hardbounced: 0
                      softbounced: 1
                      pending: 0
                      contactslost: 0
                      notsent: 0
                    deviceBreakdown:
                      open_device_type:
                        computer: 0
                        mobile: 0
                        unknown: 0
                      click_device_type:
                        computer: 0
                        mobile: 0
                        unknown: 0
                    qualifierStats: {}
                    ratios:
                      clickratio: 0
                      clickthroughratio: 0
                      deliveredratio: 0
                      openratio: 0
                      replyratio: 0
                      unsubscribedratio: 0
                      spamreportratio: 0
                      bounceratio: 100
                      hardbounceratio: 0
                      softbounceratio: 100
                      contactslostratio: 0
                      pendingratio: 0
                      notsentratio: 0
                  subcategory: batch
                  subject: Subject
                  subscriptionDetails:
                    officeLocationId: '4701002382'
                    subscriptionId: 1264909
                  to:
                    contactIds:
                      include:
                      - 51
                    contactLists: {}
                    suppressGraymail: true
                  type: BATCH_EMAIL
                  updatedAt: '2017-02-16T13:08:24.853Z'
                  updatedById: 2983922
                paging:
                  next:
                    after: MjA%3D
                    link: https://api.hubapi.com/marketing/v3/emails/emails?after=MjA%3D
                  prev:
                    before: MTA%3D
                    link: https://api.hubapi.com/marketing/v3/emails/emails?after=MTA%3D
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - content
      - oauth2_legacy:
        - content
    post:
      tags:
      - Marketing Emails
      summary: Create a new marketing email.
      description: Use this endpoint to create a new marketing email.
      operationId: CreateMarketingEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreateRequest'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicEmail'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - content
      - oauth2_legacy:
        - content
  /marketing/v3/emails/{emailId}:
    get:
      tags:
      - Marketing Emails
      summary: Get the details of a specified marketing email.
      description: Get the details for a marketing email.
      operationId: GetMarketingEmailById
      parameters:
      - name: emailId
        in: path
        description: The marketing email ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: includeStats
        in: query
        description: Include statistics with email
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: marketingCampaignNames
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: workflowNames
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: includedProperties
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicEmail'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - content
      - oauth2_legacy:
        - content
    delete:
      tags:
      - Marketing Emails
      summary: Delete a marketing email.
      operationId: DeleteMarketingEmailById
      parameters:
      - name: emailId
        in: path
        description: The ID of the marketing email to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - content
      - oauth2_legacy:
        - content
    patch:
      tags:
      - Marketing Emails
      summary: Update a marketing email.
      description: Change properties of a marketing email.
      operationId: UpdateMarketingEmailById
      parameters:
      - name: emailId
        in: path
        description: The ID of the marketing email that should get updated
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: A marketing email object with properties that should overwrite
          the corresponding properties of the marketing email.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicEmail'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - content
      - oauth2_legacy:
        - content
  /marketing/v3/marketing-events/participations/{marketingEventId}/breakdown:
    get:
      tags:
      - Participant State
      summary: Read participations breakdown by Marketing Event internal identifier
      description: Read Marketing event's participations breakdown with optional filters
        by internal identifier marketingEventId.
      operationId: GetParticipationBreakdownForMarketingEventById
      parameters:
      - name: marketingEventId
        in: path
        description: The internal id of the marketing event in HubSpot.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: contactIdentifier
        in: query
        description: The identifier of the Contact. It may be email or internal id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: state
        in: query
        description: The participation state value. It may be REGISTERED, CANCELLED,
          ATTENDED, NO_SHOW
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The limit for response size. The default value is 10, the max
          number is 100
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: after
        in: query
        description: The cursor indicating the position of the last retrieved item.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - crm.objects.marketing_events.read
      - private_apps_legacy:
        - crm.objects.marketing_events.read
  /marketing/v3/marketing-events/participations/{marketingEventId}:
    get:
      tags:
      - Participant State
      summary: Read participations counters by Marketing Event internal identifier
      description: Read Marketing event's participations counters by internal identifier
        marketingEventId.
      operationId: GetParticipationCountersForMarketingEventById
      parameters:
      - name: marketingEventId
        in: path
        description: The internal id of the marketing event in HubSpot.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceCounters'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - crm.objects.marketing_events.read
      - private_apps_legacy:
        - crm.objects.marketing_events.read
  /marketing/v3/marketing-events/events/delete:
    post:
      tags:
      - Basic
      summary: Delete multiple marketing events
      description: Bulk delete a number of marketing events in HubSpot
      operationId: DeleteMarketingEventsById
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier'
        required: true
      responses:
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - crm.objects.marketing_events.write
      - oauth2_legacy:
        - crm.objects.marketing_events.write
  /marketing/v3/marketing-events/events/upsert:
    post:
      tags:
      - Basic
      summary: Create or update multiple marketing events
      description: Upsert multiple marketing events. If there is an existing Marketing
        event with the specified ID, it will be updated; otherwise a new event will
        be created.
      operationId: CreateOrUpdateMarketingEventsById
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventCreateRequestParams'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - crm.objects.marketing_events.write
      - oauth2_legacy:
        - crm.objects.marketing_events.write
  /marketing/v3/marketing-events/events:
    post:
      tags:
      - Basic
      summary: Create a marketing event
      description: Creates a new marketing event in HubSpot
      operationId: CreateMarketingEvent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingEventCreateRequestParams'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingEventDefaultResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - crm.objects.marketing_events.write
      - oauth2_legacy:
        - crm.objects.marketing_events.write
  /marketing/v3/marketing-events/participations/contacts/{contactIdentifier}/breakdown:
    get:
      tags:
      - Participant State
      summary: Read participations breakdown by Contact identifier
      description: Read Contact's participations by identifier - email or internal
        id.
      operationId: GetContactParticipationBreakdownForMarketingEventById
      parameters:
      - name: contactIdentifier
        in: path
        description: The identifier of the Contact. It may be email or internal id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: state
        in: query
        description: The participation state value. It may be REGISTERED, CANCELLED,
          ATTENDED, NO_SHOW
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The limit for response size. The default value is 10, the max
          number is 100
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 10
      - name: after
        in: query
        description: The cursor indicating the position of the last retrieved item.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - crm.objects.marketing_events.read
      - private_apps_legacy:
        - crm.objects.marketing_events.read
  /marketing/v3/marketing-events/{appId}/settings:
    get:
      tags:
      - Settings
      summary: Retrieve the application settings
      description: Retrieve the current settings for the application.
      operationId: GetMarketingEventSettings
      parameters:
      - name: appId
        in: path
        description: The id of the application to retrieve the settings for.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailSettings'
        default:
          $ref: '#/components/responses/Error'
      security:
      - developer_hapikey: []
    post:
      tags:
      - Settings
      summary: Update the application settings
      description: Create or update the current settings for the application.
      operationId: CreateOrUpdateMarketingEventSettings
      parameters:
      - name: appId
        in: path
        description: The id of the application to update the settings for.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventDetailSettingsUrl'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailSettings'
        default:
          $ref: '#/components/responses/Error'
      security:
      - developer_hapikey: []
  /marketing/v3/marketing-events/events/search:
    get:
      tags:
      - Basic
      summary: Search for marketing events
      description: Search for marketing events that have an event id that starts with
        the query string
      operationId: SearchMarketingEvents
      parameters:
      - name: q
        in: query
        description: The id of the marketing event in the external event application
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseMarketingEventExternalUniqueIdentifierNoPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - crm.objects.marketing_events.read
      - private_apps_legacy:
        - crm.objects.marketing_events.read
  /communication-preferences/v3/subscribe:
    post:
      tags:
      - Status
      summary: Subscribe a contact
      description: Subscribes a contact to the given subscription type. This API is
        not valid to use for subscribing a contact at a brand or portal level and
        will return an error.
      operationId: SubscribeContact
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicUpdateSubscriptionStatusRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSubscriptionStatus'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - communication_preferences.write
      - oauth2_legacy:
        - communication_preferences.read_write
      - private_apps_legacy:
        - communication_preferences.write
      - private_apps_legacy:
        - communication_preferences.read_write
  /communication-preferences/v3/status/email/{emailAddress}:
    get:
      tags:
      - Status
      summary: Get subscription statuses for a contact
      description: Returns a list of subscriptions and their status for a given contact.
      operationId: ContactSubscriptionStatus
      parameters:
      - name: emailAddress
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSubscriptionStatusesResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - communication_preferences.read
      - oauth2_legacy:
        - communication_preferences.read_write
      - private_apps_legacy:
        - communication_preferences.read_write
      - oauth2_legacy:
        - communication_preferences.read
  /communication-preferences/v3/unsubscribe:
    post:
      tags:
      - Status
      summary: Unsubscribe a contact
      description: Unsubscribes a contact from the given subscription type. This API
        is not valid to use for unsubscribing a contact at a brand or portal level
        and will return an error.
      operationId: UnsubscribeContact
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicUpdateSubscriptionStatusRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSubscriptionStatus'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - communication_preferences.write
      - oauth2_legacy:
        - communication_preferences.read_write
      - private_apps_legacy:
        - communication_preferences.write
      - private_apps_legacy:
        - communication_preferences.read_write
  /communication-preferences/v3/definitions:
    get:
      tags:
      - Definition
      summary: Get subscription definitions
      description: Get a list of all subscription definitions for the portal
      operationId: GetSubscriptionTypes
      parameters: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDefinitionsResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
      - private_apps_legacy:
        - communication_preferences.read
      - oauth2_legacy:
        - communication_preferences.read_write
      - private_apps_legacy:
        - communication_preferences.read_write
      - oauth2_legacy:
        - communication_preferences.read
components:
  schemas:
    PublicEmailToDetails:
      type: object
      properties:
        contactIlsLists:
          $ref: '#/components/schemas/PublicEmailRecipients'
        limitSendFrequency:
          type: boolean
          description: ''
        suppressGraymail:
          type: boolean
          description: ''
        contactIds:
          $ref: '#/components/schemas/PublicEmailRecipients'
        contactLists:
          $ref: '#/components/schemas/PublicEmailRecipients'
      description: Data structure representing the to fields of the email.
    PublicDividerStyleSettings:
      type: object
      properties:
        color:
          type: object
          properties: {}
        lineType:
          type: string
        height:
          type: integer
          format: int32
    PublicEmail:
      required:
      - content
      - from
      - id
      - name
      - sendOnPublish
      - state
      - subcategory
      - subject
      - to
      type: object
      properties:
        feedbackSurveyId:
          type: string
          description: The ID of the feedback survey linked to the email.
        subject:
          type: string
          description: The subject of the email.
          example: My subject
        publishDate:
          type: string
          description: The date and time the email is scheduled for, in ISO8601 representation.
            This is only used in local time or scheduled emails.
          format: date-time
        isTransactional:
          type: boolean
          description: Returns whether the email is a transactional email or not.
            This is read only.
          example: false
        language:
          type: string
          example: en
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - asa
          - asa-tz
          - ast
          - ast-es
          - as-in
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - bem
          - bem-zm
          - bez
          - bez-tz
          - be-by
          - bg
          - bgc
          - bgc-in
          - bg-bg
          - bho
          - bho-in
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - brx
          - brx-in
          - br-fr
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ceb
          - ceb-ph
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - dav
          - dav-ke
          - da-dk
          - da-gl
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fil
          - fil-ph
          - fi-fi
          - fo
          - fo-dk
          - fo-fo
          - fr
          - frr
          - frr-de
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - guz
          - guz-ke
          - gu-in
          - gv
          - gv-im
          - ha
          - haw
          - haw-us
          - ha-gh
          - ha-ne
          - ha-ng
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - ia
          - ia-001
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - jv
          - jv-id
          - ka
          - kab
          - kab-dz
          - kam
          - kam-ke
          - ka-ge
          - kde
          - kde-tz
          - kea
          - kea-cv
          - kgp
          - kgp-br
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kkj
          - kkj-cm
          - kk-kz
          - kl
          - kln
          - kln-ke
          - kl-gl
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - kok
          - kok-in
          - ko-kp
          - ko-kr
          - ks
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - ks-in
          - ku
          - ku-tr
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lu-cd
          - lv
          - lv-lv
          - mai
          - mai-in
          - mas
          - mas-ke
          - mas-tz
          - mdf
          - mdf-ru
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mg-mg
          - mi
          - mi-nz
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mni
          - mni-in
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-id
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nds
          - nds-de
          - nds-nl
          - nd-zw
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-bq
          - nl-ch
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nnh
          - nnh-cm
          - nn-no
          - 'no'
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - oc
          - oc-es
          - oc-fr
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pcm
          - pcm-ng
          - pis
          - pis-sb
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - ps-pk
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - raj
          - raj-in
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - rof
          - rof-tz
          - ro-md
          - ro-ro
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rwk
          - rwk-tz
          - rw-rw
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sat
          - sat-in
          - sa-in
          - sbp
          - sbp-tz
          - sc
          - sc-it
          - sd
          - sd-in
          - sd-pk
          - se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - se-fi
          - se-no
          - se-se
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sms
          - sms-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - su
          - su-id
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - teo
          - teo-ke
          - teo-ug
          - te-in
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - tl
          - to
          - tok
          - tok-001
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xh
          - xh-za
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yrl
          - yrl-br
          - yrl-co
          - yrl-ve
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hans
          - zh-hant
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zu
          - zu-za
        type:
          type: string
          description: The email type, this is derived from other properties on the
            email such as subcategory.
          example: BATCH_EMAIL
          enum:
          - AB_EMAIL
          - BATCH_EMAIL
          - LOCALTIME_EMAIL
          - AUTOMATED_AB_EMAIL
          - BLOG_EMAIL
          - BLOG_EMAIL_CHILD
          - RSS_EMAIL
          - RSS_EMAIL_CHILD
          - RESUBSCRIBE_EMAIL
          - OPTIN_EMAIL
          - OPTIN_FOLLOWUP_EMAIL
          - AUTOMATED_EMAIL
          - FEEDBACK_CES_EMAIL
          - FEEDBACK_CUSTOM_EMAIL
          - FEEDBACK_CUSTOM_SURVEY_EMAIL
          - FEEDBACK_NPS_EMAIL
          - FOLLOWUP_EMAIL
          - LEADFLOW_EMAIL
          - SINGLE_SEND_API
          - MARKETING_SINGLE_SEND_API
          - SMTP_TOKEN
          - TICKET_EMAIL
          - MEMBERSHIP_REGISTRATION_EMAIL
          - MEMBERSHIP_PASSWORD_SAVED_EMAIL
          - MEMBERSHIP_PASSWORD_RESET_EMAIL
          - MEMBERSHIP_EMAIL_VERIFICATION_EMAIL
          - MEMBERSHIP_PASSWORDLESS_AUTH_EMAIL
          - MEMBERSHIP_REGISTRATION_FOLLOW_UP_EMAIL
          - MEMBERSHIP_OTP_LOGIN_EMAIL
          - MEMBERSHIP_FOLLOW_UP_EMAIL
          - MEMBERSHIP_VERIFICATION_EMAIL
        content:
          $ref: '#/components/schemas/PublicEmailContent'
        businessUnitId:
          type: string
        webversion:
          $ref: '#/components/schemas/PublicWebversionDetails'
        workflowNames:
          type: array
          items:
            type: string
        archived:
          type: boolean
          description: Determines if the email is archived or not.
          example: false
        createdAt:
          type: string
          description: The date and time of the email's creation, in ISO8601 representation.
          format: date-time
        stats:
          $ref: '#/components/schemas/EmailStatisticsData'
        jitterSendTime:
          type: boolean
        from:
          $ref: '#/components/schemas/PublicEmailFromDetails'
        id:
          type: string
          description: The email ID.
          example: '38175169118'
        state:
          type: string
          description: The email state.
          example: DRAFT
          enum:
          - AUTOMATED
          - AUTOMATED_DRAFT
          - AUTOMATED_SENDING
          - AUTOMATED_FOR_FORM
          - AUTOMATED_FOR_FORM_BUFFER
          - AUTOMATED_FOR_FORM_DRAFT
          - AUTOMATED_FOR_FORM_LEGACY
          - BLOG_EMAIL_DRAFT
          - BLOG_EMAIL_PUBLISHED
          - DRAFT
          - DRAFT_AB
          - DRAFT_AB_VARIANT
          - ERROR
          - LOSER_AB_VARIANT
          - PAGE_STUB
          - PRE_PROCESSING
          - PROCESSING
          - PUBLISHED
          - PUBLISHED_AB
          - PUBLISHED_AB_VARIANT
          - PUBLISHED_OR_SCHEDULED
          - RSS_TO_EMAIL_DRAFT
          - RSS_TO_EMAIL_PUBLISHED
          - SCHEDULED
          - SCHEDULED_AB
          - SCHEDULED_OR_PUBLISHED
          - AUTOMATED_AB
          - AUTOMATED_AB_VARIANT
          - AUTOMATED_DRAFT_AB
          - AUTOMATED_DRAFT_ABVARIANT
          - AUTOMATED_LOSER_ABVARIANT
        createdById:
          type: string
          description: The id of the user who created the email.
          example: '3739732'
        updatedAt:
          type: string
          description: The date and time of the last update to the email, in ISO8601
            representation.
          format: date-time
        rssData:
          $ref: '#/components/schemas/PublicRssEmailDetails'
        publishedAt:
          type: string
          description: The date and time the email was published at, in ISO8601 representation.
          format: date-time
        publishedById:
          type: string
        isPublished:
          type: boolean
          description: Returns the published status of the email. This is read only.
          example: false
        testing:
          $ref: '#/components/schemas/PublicEmailTestingDetails'
        updatedById:
          type: string
          description: The id of the user who last updated the email.
          example: '3739732'
        folderId:
          type: integer
          format: int64
        subscriptionDetails:
          $ref: '#/components/schemas/PublicEmailSubscriptionDetails'
        deletedAt:
          type: string
          format: date-time
        name:
          type: string
          description: The name of the email, as displayed on the email dashboard.
          example: My subject
        activeDomain:
          type: string
          description: The active domain of the email.
          example: test.hs-sites.com
        campaign:
          type: string
          description: The campaign id on the email.
          example: 1b7f51a6-33c1-44d6-ba28-fe81f655dced
        to:
          $ref: '#/components/schemas/PublicEmailToDetails'
        subcategory:
          type: string
          description: The email subcategory.
          example: batch
        campaignName:
          type: string
        sendOnPublish:
          type: boolean
          description: Determines whether the email will be sent immediately on publish.
          example: true
      description: A marketing email
      example:
        activeDomain: test.hs-sites.com
        archived: false
        campaign: 1b7f51a6-33c1-44d6-ba28-fe81f655dced
        content:
          flexAreas:
            main:
              boxed: false
              isSingleColumnFullWidth: false
              sections:
              - columns:
                - id: column_1606761806181_0
                  widgets:
                  - module_160676180617911
                  width: 12
                id: section_1606761806181
                style:
                  backgroundColor: ''
                  backgroundType: CONTENT
              - columns:
                - id: column-0-1
                  widgets:
                  - module-0-1-1
                  width: 12
                id: section-0
                style:
                  backgroundType: CONTENT
                  paddingBottom: 40px
                  paddingTop: 40px
              - columns:
                - id: column-1-1
                  widgets:
                  - module-1-1-1
                  width: 12
                id: section-1
                style:
                  backgroundColor: ''
                  backgroundType: CONTENT
                  paddingBottom: 0px
                  paddingTop: 0px
          plainTextVersion: "This is custom! View in browser ({{view_as_page_url}})\n\
            \nHello {{ contact.firstname }},\n\nPlain text emails have minimal formatting\
            \ so your reader can really focus on what you have to say. Introduce yourself\
            \ and explain why you\u2019re reaching out.\n\nEvery email should try\
            \ to lead the reader to some kind of action. Use this space to describe\
            \ why the reader should want to click on the link below. Put the link\
            \ on its own line to really draw their eye to it.\n\nLink text\n\nNow\
            \ it\u2019s time to wrap up your email. Before your signature, thank the\
            \ recipient for reading. You can also invite them to send this email to\
            \ any of their colleagues who might be interested.\n\nAll the best,\n\n\
            Your full name\n\nYour job title\n\nOther contact information\n\n{{site_settings.company_name}},\
            \ {{site_settings.company_street_address_1}}, {{site_settings.company_street_address_2}},\
            \ {{site_settings.company_city}}, {{site_settings.company_state}} {{site_settings.company_zip}},\
            \ {{site_settings.company_country}}, {{site_settings.company_phone}}\n\
            \nUnsubscribe ({{unsubscribe_link_all}})\n\nManage preferences ({{unsubscribe_link}})"
          styleSettings: {}
          templatePath: '@hubspot/email/dnd/plain_text.html'
          widgets:
            module-0-1-1:
              body:
                css_class: dnd-module
                html: "<p style=\"margin-bottom:10px;\">Hello {{ contact.firstname\
                  \ }},<br><br>Plain text emails have minimal formatting so your reader\
                  \ can really focus on what you have to say. Introduce yourself and\
                  \ explain why you\u2019re reaching out.</p><p style=\"margin-bottom:10px;\"\
                  >Every email should try to lead the reader to some kind of action.\
                  \ Use this space to describe why the reader should want to click\
                  \ on the link below. Put the link on its own line to really draw\
                  \ their eye to it.</p><p style=\"margin-bottom:10px;\"><a target=\"\
                  _blank\" rel=\"noopener\">Link text</a></p><p style=\"margin-bottom:10px;\"\
                  >Now it\u2019s time to wrap up your email. Before your signature,\
                  \ thank the recipient for reading. You can also invite them to send\
                  \ this email to any of their colleagues who might be interested.</p><p\
                  \ style=\"margin-bottom:10px;\">All the best,<br>Your full name<br>Your\
                  \ job title<br>Other contact information</p>"
                i18nKey: richText.plainText
                path: '@hubspot/rich_text'
                schema_version: 2
              child_css: {}
              css: {}
              id: module-0-1-1
              module_id: 1155639
              name: module-0-1-1
              order: 2
              styles: {}
              type: module
            module-1-1-1:
              body:
                align: center
                css_class: dnd-module
                font:
                  color: '#23496d'
                  font: Arial, sans-serif
                  size:
                    units: px
                    value: 12
                link_font:
                  color: '#00a4bd'
                  font: Helvetica,Arial,sans-serif
                  size:
                    units: px
                    value: 12
                  styles:
                    bold: false
                    italic: false
                    underline: true
                path: '@hubspot/email_footer'
                schema_version: 2
                unsubscribe_link_type: both
              child_css: {}
              css: {}
              id: module-1-1-1
              module_id: 2869621
              name: module-1-1-1
              order: 3
              styles: {}
              type: module
            module_160676180617911:
              body:
                font:
                  color: '#00a4bd'
                  font: Arial, sans-serif
                  size:
                    units: px
                    value: 12
                  styles:
                    bold: false
                    italic: false
                    underline: true
                hs_enable_module_padding: false
                hs_wrapper_css: {}
              child_css: {}
              css: {}
              id: module_160676180617911
              module_id: 2794854
              name: module_160676180617911
              styles: {}
              type: module
            preview_text:
              body:
                value: ''
              child_css: {}
              css: {}
              id: preview_text
              label: Preview Text <span class=help-text>This will be used as the preview
                text that displays in some email clients</span>
              name: preview_text
              order: 0
              styles: {}
              type: text
        createdAt: '2020-11-30T18:43:17.136Z'
        createdById: 3739732
        from:
          fromName: Bruce Wayne
          replyTo: test@hubspot.com
        id: '38175169118'
        isPublished: false
        isTransactional: false
        language: en
        name: My subject
        publishDate: '2020-11-30T18:44:20.387Z'
        sendOnPublish: true
        state: DRAFT
        subcategory: batch
        subject: My subject
        subscriptionDetails:
          officeLocationId: '5449392956'
        to:
          contactIds: {}
          contactLists:
            exclude:
            - 1
            include:
            - 5
          suppressGraymail: true
        type: BATCH_EMAIL
        updatedAt: '2020-11-30T18:44:20.384Z'
        updatedById: 3739732
        webversion:
          expiresAt: '2020-11-30T18:44:20.387Z'
          metaDescription: ''
          redirectToPageId: 0
          redirectToUrl: http://www.example.org
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        subCategory:
          type: string
          description: A specific category that contains more specific detail about
            the error
        code:
          type: string
          description: The status code associated with the error detail
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
        message:
          type: string
          description: A human readable message describing the error along with remediation
            steps where appropriate
    PublicButtonStyleSettings:
      type: object
      properties:
        backgroundColor:
          type: object
          properties: {}
        fontStyle:
          $ref: '#/components/schemas/PublicFontStyle'
        cornerRadius:
          type: integer
          format: int32
    EmailUpdateRequest:
      type: object
      properties:
        rssData:
          $ref: '#/components/schemas/PublicRssEmailDetails'
        subject:
          type: string
          description: The subject of the email.
        testing:
          $ref: '#/components/schemas/PublicEmailTestingDetails'
        publishDate:
          type: string
          description: The date and time the email is scheduled for, in ISO8601 representation.
            This is only used in local time or scheduled emails.
          format: date-time
        language:
          type: string
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - asa
          - asa-tz
          - ast
          - ast-es
          - as-in
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - bem
          - bem-zm
          - bez
          - bez-tz
          - be-by
          - bg
          - bgc
          - bgc-in
          - bg-bg
          - bho
          - bho-in
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - brx
          - brx-in
          - br-fr
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ceb
          - ceb-ph
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - dav
          - dav-ke
          - da-dk
          - da-gl
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fil
          - fil-ph
          - fi-fi
          - fo
          - fo-dk
          - fo-fo
          - fr
          - frr
          - frr-de
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - guz
          - guz-ke
          - gu-in
          - gv
          - gv-im
          - ha
          - haw
          - haw-us
          - ha-gh
          - ha-ne
          - ha-ng
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - ia
          - ia-001
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - jv
          - jv-id
          - ka
          - kab
          - kab-dz
          - kam
          - kam-ke
          - ka-ge
          - kde
          - kde-tz
          - kea
          - kea-cv
          - kgp
          - kgp-br
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kkj
          - kkj-cm
          - kk-kz
          - kl
          - kln
          - kln-ke
          - kl-gl
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - kok
          - kok-in
          - ko-kp
          - ko-kr
          - ks
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - ks-in
          - ku
          - ku-tr
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lu-cd
          - lv
          - lv-lv
          - mai
          - mai-in
          - mas
          - mas-ke
          - mas-tz
          - mdf
          - mdf-ru
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mg-mg
          - mi
          - mi-nz
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mni
          - mni-in
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-id
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nds
          - nds-de
          - nds-nl
          - nd-zw
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-bq
          - nl-ch
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nnh
          - nnh-cm
          - nn-no
          - 'no'
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - oc
          - oc-es
          - oc-fr
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pcm
          - pcm-ng
          - pis
          - pis-sb
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - ps-pk
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - raj
          - raj-in
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - rof
          - rof-tz
          - ro-md
          - ro-ro
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rwk
          - rwk-tz
          - rw-rw
          - sa
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sat
          - sat-in
          - sa-in
          - sbp
          - sbp-tz
          - sc
          - sc-it
          - sd
          - sd-in
          - sd-pk
          - se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - se-fi
          - se-no
          - se-se
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - smn
          - smn-fi
          - sms
          - sms-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - su
          - su-id
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - teo
          - teo-ke
          - teo-ug
          - te-in
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - tl
          - to
          - tok
          - tok-001
          - to-to
          - tr
          - tr-cy
          - tr-tr
          - tt
          - tt-ru
          - twq
          - twq-ne
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - vi
          - vi-vn
          - vo
          - vo-001
          - vun
          - vun-tz
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xh
          - xh-za
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yo
          - yo-bj
          - yo-ng
          - yrl
          - yrl-br
          - yrl-co
          - yrl-ve
          - yue
          - yue-cn
          - yue-hk
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hans
          - zh-hant
          - zh-hk
          - zh-mo
          - zh-sg
          - zh-tw
          - zu
          - zu-za
        businessUnitId:
          type: integer
          format: int64
        content:
          $ref: '#/components/schemas/PublicEmailContent'
        webversion:
          $ref: '#/components/schemas/PublicWebversionDetails'
        archived:
          type: boolean
          description: Determines if the email is archived or not.
        subscriptionDetails:
          $ref: '#/components/schemas/PublicEmailSubscriptionDetails'
        activeDomain:
          type: string
          description: The active domain of the email.
        name:
          type: string
          description: The name of the email, as displayed on the email dashboard.
        campaign:
          type: string
          description: The ID of the campaign this email is associated to.
        from:
          $ref: '#/components/schemas/PublicEmailFromDetails'
        jitterSendTime:
          type: boolean
        state:
          type: string
          description: The email state.
          enum:
          - AUTOMATED
          - AUTOMATED_DRAFT
          - AUTOMATED_SENDING
          - AUTOMATED_FOR_FORM
          - AUTOMATED_FOR_FORM_BUFFER
          - AUTOMATED_FOR_FORM_DRAFT
          - AUTOMATED_FOR_FORM_LEGACY
          - BLOG_EMAIL_DRAFT
          - BLOG_EMAIL_PUBLISHED
          - DRAFT
          - DRAFT_AB
          - DRAFT_AB_VARIANT
          - ERROR
          - LOSER_AB_VARIANT
          - PAGE_STUB
          - PRE_PROCESSING
          - PROCESSING
          - PUBLISHED
          - PUBLISHED_AB
          - PUBLISHED_AB_VARIANT
          - PUBLISHED_OR_SCHEDULED
          - RSS_TO_EMAIL_DRAFT
          - RSS_TO_EMAIL_PUBLISHED
          - SCHEDULED
          - SCHEDULED_AB
          - SCHEDULED_OR_PUBLISHED
          - AUTOMATED_AB
          - AUTOMATED_AB_VARIANT
          - AUTOMATED_DRAFT_AB
          - AUTOMATED_DRAFT_ABVARIANT
          - AUTOMATED_LOSER_ABVARIANT
        to:
          $ref: '#/components/schemas/PublicEmailToDetails'
        subcategory:
          type: string
          description: The email subcategory.
          enum:
          - ab_master
          - ab_variant
          - ab_loser_variant
          - page_stub
          - landing_page
          - site_page
          - legacy_page
          - ab_master_site_page
          - ab_variant_site_page
          - ab_loser_variant_site_page
          - performable_landing_page
          - performable_landing_page_cutover
          - staged_page
          - automated
          - automated_for_deal
          - automated_for_form
          - automated_for_form_legacy
          - automated_for_form_buffer
          - automated_for_form_draft
          - rss_to_email
          - rss_to_email_child
          - blog_email
          - blog_email_child
          - optin_email
          - optin_followup_email
          - batch
          - resubscribe_email
          - unsubscribe_confirmation_email
          - resubscribe_confirmation_email
          - single_send_api
          - marketing_single_send_api
          - smtp_token
          - localtime
          - automated_for_ticket
          - automated_for_leadflow
          - automated_for_feedback_ces
          - automated_for_feedback_nps
          - automated_for_feedback_custom
          - membership_registration
          - membership_password_saved
          - membership_password_reset
          - membership_otp_login
          - membership_passwordless_auth
          - membership_email_verification
          - membership_registration_follow_up
          - membership_verification
          - membership_follow_up
          - ticket_closed_kickback_email
          - ticket_opened_kickback_email
          - automated_for_custom_survey
          - discardable_stub
          - normal_blog_post
          - legacy_blog_post
          - imported_blog_post
          - automated_ab_master
          - automated_ab_variant
          - web_interactive
          - portal_content
          - page_instance_layout
          - kb_article_instance_layout
          - kb_listing
          - kb_search_results
          - kb_support_form
          - case_study
          - case_study_listing
          - case_study_instance_layout
          - UNKNOWN
        sendOnPublish:
          type: boolean
          description: Determines whether the email will be sent immediately on publish.
      description: Properties of a marketing email you can update via the API.
      example:
        activeDomain: test.hs-sites.com
        archived: false
        campaign: 1b7f51a6-33c1-44d6-ba28-fe81f655dced
        content:
          flexAreas:
            main:
              boxed: false
              isSingleColumnFullWidth: false
              sections:
              - columns:
                - id: column_1606761806181_0
                  widgets:
                  - module_160676180617911
                  width: 12
                id: section_1606761806181
                style:
                  backgroundColor: ''
                  backgroundType: CONTENT
              - columns:
                - id: column-0-1
                  widgets:
                  - module-0-1-1
                  width: 12
                id: section-0
                style:
                  backgroundType: CONTENT
                  paddingBottom: 40px
                  paddingTop: 40px
              - columns:
                - id: column-1-1
                  widgets:
                  - module-1-1-1
                  width: 12
                id: section-1
                style:
                  backgroundColor: ''
                  backgroundType: CONTENT
                  paddingBottom: 0px
                  paddingTop: 0px
          plainTextVersion: "This is custom! View in browser ({{view_as_page_url}})\n\
            \nHello {{ contact.firstname }},\n\nPlain text emails have minimal formatting\
            \ so your reader can really focus on what you have to say. Introduce yourself\
            \ and explain why you\u2019re reaching out.\n\nEvery email should try\
            \ to lead the reader to some kind of action. Use this space to describe\
            \ why the reader should want to click on the link below. Put the link\
            \ on its own line to really draw their eye to it.\n\nLink text\n\nNow\
            \ it\u2019s time to wrap up your email. Before your signature, thank the\
            \ recipient for reading. You can also invite them to send this email to\
            \ any of their colleagues who might be interested.\n\nAll the best,\n\n\
            Your full name\n\nYour job title\n\nOther contact information\n\n{{site_settings.company_name}},\
            \ {{site_settings.company_street_address_1}}, {{site_settings.company_street_address_2}},\
            \ {{site_settings.company_city}}, {{site_settings.company_state}} {{site_settings.company_zip}},\
            \ {{site_settings.company_country}}, {{site_settings.company_phone}}\n\
            \nUnsubscribe ({{unsubscribe_link_all}})\n\nManage preferences ({{unsubscribe_link}})"
          styleSettings: {}
          widgets:
            module-0-1-1:
              body:
                css_class: dnd-module
                html: "<p style=\"margin-bottom:10px;\">Hello {{ contact.firstname\
                  \ }},<br><br>Plain text emails have minimal formatting so your reader\
                  \ can really focus on what you have to say. Introduce yourself and\
                  \ explain why you\u2019re reaching out.</p><p style=\"margin-bottom:10px;\"\
                  >Every email should try to lead the reader to some kind of action.\
                  \ Use this space to describe why the reader should want to click\
                  \ on the link below. Put the link on its own line to really draw\
                  \ their eye to it.</p><p style=\"margin-bottom:10px;\"><a target=\"\
                  _blank\" rel=\"noopener\">Link text</a></p><p style=\"margin-bottom:10px;\"\
                  >Now it\u2019s time to wrap up your email. Before your signature,\
                  \ thank the recipient for reading. You can also invite them to send\
                  \ this email to any of their colleagues who might be interested.</p><p\
                  \ style=\"margin-bottom:10px;\">All the best,<br>Your full name<br>Your\
                  \ job title<br>Other contact information</p>"
                i18nKey: richText.plainText
                path: '@hubspot/rich_text'
                schema_version: 2
              child_css: {}
              css: {}
              id: module-0-1-1
              module_id: 1155639
              name: module-0-1-1
              order: 2
              styles: {}
              type: module
            module-1-1-1:
              body:
                align: center
                css_class: dnd-module
                font:
                  color: '#23496d'
                  font: Arial, sans-serif
                  size:
                    units: px
                    value: 12
                link_font:
                  color: '#00a4bd'
                  font: Helvetica,Arial,sans-serif
                  size:
                    units: px
                    value: 12
                  styles:
                    bold: false
                    italic: false
                    underline: true
                path: '@hubspot/email_footer'
                schema_version: 2
                unsubscribe_link_type: both
              child_css: {}
              css: {}
              id: module-1-1-1
              module_id: 2869621
              name: module-1-1-1
              order: 3
              styles: {}
              type: module
            module_160676180617911:
              body:
                font:
                  color: '#00a4bd'
                  font: Arial, sans-serif
                  size:
                    units: px
                    value: 12
                  styles:
                    bold: false
                    italic: false
                    underline: true
                hs_enable_module_padding: false
                hs_wrapper_css: {}
              child_css: {}
              css: {}
              id: module_160676180617911
              module_id: 2794854
              name: module_160676180617911
              styles: {}
              type: module
            preview_text:
              body:
                value: ''
              child_css: {}
              css: {}
              id: preview_text
              label: Preview Text <span class=help-text>This will be used as the preview
                text that displays in some email clients</span>
              name: preview_text
              order: 0
              styles: {}
              type: text
        createdAt: '2020-11-30T18:43:17.136Z'
        createdById: 3739732
        from:
          fromName: Bruce Wayne
          replyTo: test@hubspot.com
        name: My subject
        publishDate: '2023-11-30T18:44:20.387Z'
        sendOnPublish: true
        state: DRAFT
        subcategory: batch
        subject: My subject
        subscriptionDetails:
          officeLocationId: '5449392956'
        to:
          contactIds: {}
          contactLists:
            exclude:
            - 1
            include:
            - 5
          suppressGraymail: true
        webversion:
          expiresAt: '2020-11-30T18:44:20.387Z'
          metaDescription: ''
          redirectToPageId: 0
          redirectToUrl: http://www.example.org
    PublicEmailSubscriptionDetails:
      type: object
      properties:
        officeLocationId:
          type: string
          description: ID of the selected office location.
        preferencesGroupId:
          type: string
          description: ''
        subscriptionId:
          type: string
          description: ID of the subscription.
      description: Data structure representing the subscription fields of the email.
    EmailCreateRequest:
      required:
      - name
      type: object
      properties:
        feedbackSurveyId:
          type: string
          description: The ID of the feedback survey linked to the email.
        rssData:
          $ref: '#/components/schemas/PublicRssEmailDetails'
        subject:
          type: string
          description: The subject of the email.
        testing:
          $ref: '#/components/schemas/PublicEmailTestingDetails'
        publishDate:
          type: string
          description: The date and time the email is scheduled for, in ISO8601 representation.
            This is only used in local time or scheduled emails.
          format: date-time
        language:
          type: string
          enum:
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - asa
          - asa-tz
          - ast
          - ast-es
          - as-in
          - az
          - az-az
          - bas
          - bas-cm
          - be
          - bem
          - bem-zm
          - bez
          - bez-tz
          - be-by
          - bg
          - bgc
          - bgc-in
          - bg-bg
          - bho
          - bho-in
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - brx
          - brx-in
          - br-fr
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ceb
          - ceb-ph
          - ce-ru
          - cgg
          - cgg-ug
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - cs
          - cs-cz
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - dav
          - dav-ke
          - da-dk
          - da-gl
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-er
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gu
          - en-gy
          - en-hk
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pn
          - en-pr
          - en-pw
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-tk
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fil
          - fil-ph
          - fi-fi
          - fo
          - fo-dk
          - fo-fo
          - fr
          - frr
          - frr-de
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gd
          - gd-gb
          - gl
          - gl-es
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - guz
          - guz-ke
          - gu-in
          - gv
          - gv-im
          - ha
          - haw
          - haw-us
          - ha-gh
          - ha-ne
          - ha-ng
          - he
          - hi
          - hi-in
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - hu
          - hu-hu
          - hy
          - hy-am
          - ia
          - ia-001
          - id
          - ig
          - ig-ng
          - ii
          - ii-cn
          - id-id
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - he-il
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - yi
          - yi-001
          - jmc
          - jmc-tz
          - jv
          - jv-id
          - ka
          - kab
          - kab-dz
          - kam
          - kam-ke
          - ka-ge
          - kde
          - kde-tz
          - kea
          - kea-cv
          - kgp
          - kgp-br
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kk
          - kkj
          - kkj-cm
          - kk-kz
          - kl
          - kln
          - kln-ke
          - kl-gl
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - kok
          - kok-in
          - ko-kp
          - ko-kr
          - ks
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - ks-in
          - ku
          - ku-tr
          - kw
          - kw-gb
          - ky
          - ky-kg
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - lkt
          - lkt-us
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lu-cd
          - lv
          - lv-lv
          - mai
          - mai-in
          - mas
          - mas-ke
          - mas-tz
          - mdf
          - mdf-ru
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mg-mg
          - mi
          - mi-nz
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mni
          - mni-in
          - mn-mn
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-id
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nds
          - nds-de
          - nds-nl
          - nd-zw
          - ne
          - ne-in
          - ne-np
          - nl
          - nl-aw
          - nl-be
          - nl-bq
          - nl-ch
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nnh
          - nnh-cm
          - nn-no
          - 'no'
          - no-no
          - nus
          - nus-ss
          - nyn
          - nyn-ug
          - oc
          - oc-es
          - oc-fr
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pcm
          - pcm-ng
          - pis
          - pis-sb
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - ps-pk
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
[...]
