openapi: 3.0.1
info:
  title: HubSpot CRM Associations Schema
  version: v4
servers:
- url: https://api.hubapi.com
tags:
- name: Association Definition Configurations
- name: Definitions
paths:
  /crm/v4/associations/{fromObjectType}/{toObjectType}/labels:
    get:
      tags:
      - Definitions
      summary: Read
      description: Returns all association types between two object types
      operationId: GetAssociationTypeIdFromObjectToObject
      parameters:
      - name: fromObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociationSpecWithLabelNoPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
components:
  schemas:
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        subCategory:
          type: string
          description: A specific category that contains more specific detail about
            the error
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
        message:
          type: string
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
        category:
          type: string
          description: The error category
          example: VALIDATION_ERROR
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        subCategory:
          type: string
          description: A specific category that contains more specific detail about
            the error
        code:
          type: string
          description: The status code associated with the error detail
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
        message:
          type: string
          description: A human readable message describing the error along with remediation
            steps where appropriate
    AssociationSpecWithLabel:
      required:
      - category
      - typeId
      type: object
      properties:
        typeId:
          type: integer
          format: int32
        label:
          type: string
        category:
          type: string
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
    CollectionResponseAssociationSpecWithLabelNoPaging:
      required:
      - results
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/AssociationSpecWithLabel'
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  links: {}
  callbacks: {}
