openapi: 3.0.1
info:
  title: HubSpot CRM
  version: v3
  description: ''
servers:
  - url: https://api.hubapi.com
paths:
#  /oauth/v1/access-tokens/{token}:
#    get:
#      tags:
#        - Access_Tokens
#      operationId: GetCurrentUserInfo
#      parameters:
#        - name: token
#          in: path
#          required: true
#          style: simple
#          explode: false
#          schema:
#            type: string
#      responses:
#        '200':
#          description: successful operation
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/AccessTokenInfoResponse'
#        default:
#          $ref: '#/components/responses/Error'
#      security: []
  /crm/v3/objects/calls/{callId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{callId}`. `{callId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetEngagementCallById
      parameters:
        - name: callId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{callId}` to the recycling bin.
      operationId: DeleteEngagementCallById
      parameters:
        - name: callId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{callId}`or optionally a unique property value as specified by the `idProperty` query param. `{callId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.
      operationId: UpdateEngagementCallById
      parameters:
        - name: callId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/calls:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a call with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard calls is provided.
      operationId: CreateEngagementCall
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/calls/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for a engagement calls using the query schema.
      operationId: SearchEngagementCalls
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/objects/emails/{emailId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{emailId}`. `{emailId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetEngagementEmailById
      parameters:
        - name: emailId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - sales-email-read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps_legacy:
            - sales-email-read
        - private_apps:
            - crm.objects.contacts.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{emailId}` to the recycling bin.
      operationId: DeleteEngagementEmailById
      parameters:
        - name: emailId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - sales-email-read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps_legacy:
            - sales-email-read
        - private_apps:
            - crm.objects.contacts.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{emailId}`or optionally a unique property value as specified by the `idProperty` query param. `{emailId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.
      operationId: UpdateEngagementEmailById
      parameters:
        - name: emailId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - sales-email-read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps_legacy:
            - sales-email-read
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/emails:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a email with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard emails is provided.
      operationId: CreateEngagementEmail
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - sales-email-read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps_legacy:
            - sales-email-read
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/emails/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for a engagement emails using the query schema.
      operationId: SearchEngagementEmails
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - sales-email-read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps_legacy:
            - sales-email-read
        - private_apps:
            - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/objects/meetings/{meetingId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{meetingId}`. `{meetingId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetEngagementMeetingById
      parameters:
        - name: meetingId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{meetingId}` to the recycling bin.
      operationId: DeleteEngagementMeetingById
      parameters:
        - name: meetingId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{meetingId}`. `{meetingId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.
      operationId: UpdateEngagementMeetingById
      parameters:
        - name: meetingId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/meetings:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a meeting with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard meetings is provided.
      operationId: CreateEngagementMeeting
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/meetings/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for a engagement meetings using the query schema.
      operationId: SearchEngagementMeetings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/objects/notes/{noteId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{noteId}`. `{noteId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetEngagementNoteById
      parameters:
        - name: noteId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{noteId}` to the recycling bin.
      operationId: DeleteEngagementNoteById
      parameters:
        - name: noteId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{noteId}`. `{noteId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.
      operationId: UpdateEngagementNoteById
      parameters:
        - name: noteId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/notes:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a note with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard notes is provided.
      operationId: CreateEngagementNote
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/notes/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for engagement notes using the query schema.
      operationId: SearchEngagementNotes
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/objects/companies/{companyId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{companyId}`. `{companyId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetCompanyById
      parameters:
        - name: companyId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.companies.read
        - private_apps:
            - crm.objects.companies.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{companyId}` to the recycling bin.
      operationId: DeleteCompanyById
      parameters:
        - name: companyId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{companyId}`. `{companyId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.
      operationId: UpdateCompanyById
      parameters:
        - name: companyId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
  /crm/v3/objects/companies:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a company with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard companies is provided.
      operationId: CreateCompany
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
  /crm/v3/objects/companies/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for companies using the query schema.
      operationId: SearchCompanies
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.companies.read
        - private_apps:
            - crm.objects.companies.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/objects/contacts/{contactId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{contactId}`. `{contactId}` refers to the internal object ID.  Control what is returned via the `properties` query param.
      operationId: GetContactById
      parameters:
        - name: contactId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{contactId}` to the recycling bin.
      operationId: DeleteContactById
      parameters:
        - name: contactId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{contactId}`. `{contactId}` refers to the internal object ID. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.
      operationId: UpdateContactById
      parameters:
        - name: contactId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/contacts:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a contact with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard contacts is provided.
      operationId: CreateContact
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.objects.contacts.write
  /crm/v3/objects/contacts/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for contacts using the query schema.
      operationId: SearchContacts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/objects/deals/{dealId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{dealId}`. `{dealId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetDealById
      parameters:
        - name: dealId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.deals.read
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{dealId}` to the recycling bin.
      operationId: DeleteDealById
      parameters:
        - name: dealId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.deals.write
        - private_apps:
            - crm.objects.deals.write
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{dealId}`. `{dealId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.
      operationId: UpdateDealById
      parameters:
        - name: dealId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object type
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.deals.write
        - private_apps:
            - crm.objects.deals.write
  /crm/v3/objects/deals:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a deal with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard deals is provided.
      operationId: CreateDeal
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.deals.write
        - private_apps:
            - crm.objects.deals.write
  /crm/v3/objects/deals/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for deals using the query schema.
      operationId: SearchDeals
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.deals.read
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/lists/{listId}/memberships/add-and-remove:
    put:
      tags:
        - Memberships
      summary: Add and/or Remove Records from a List
      description: 'Add and/or remove records that have already been created in the system to and/or from a list.


        This endpoint only works for lists that have a `processingType` of `MANUAL` or `SNAPSHOT`.'
      operationId: AddAndRemoveContactsFromList
      parameters:
        - name: listId
          in: path
          description: The **ILS ID** of the `MANUAL` or `SNAPSHOT` list.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipChangeRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipsUpdateResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - private_apps:
            - crm.lists.write
            - crm.lists.read
        - oauth2:
            - crm.lists.write
            - crm.lists.read
  /crm/v3/lists/{listId}:
    get:
      tags:
        - Lists
      summary: Fetch List by ID
      description: Fetch a single list by **ILS list ID**.
      operationId: GetListById
      parameters:
        - name: listId
          in: path
          description: The **ILS ID** of the list to fetch.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: includeFilters
          in: query
          description: A flag indicating whether or not the response object list definition should include a filter branch definition. By default, object list definitions will not have their filter branch definitions included in the response.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFetchResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - private_apps:
            - crm.lists.read
        - oauth2:
            - crm.lists.read
  /crm/v3/lists/search:
    post:
      tags:
        - Lists
      summary: Search Lists
      description: Search lists by list name or page through all lists by providing an empty `query` value.
      operationId: SearchLists
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchResponse'
        default:
          $ref: '#/components/responses/Error'
      security:
        - private_apps:
            - crm.lists.read
        - oauth2:
            - crm.lists.read
  /crm/v3/objects/tickets/{ticketId}:
    get:
      tags:
        - Basic
      summary: Read
      description: Read an Object identified by `{ticketId}`. `{ticketId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.
      operationId: GetTicketById
      parameters:
        - name: ticketId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: properties
          in: query
          description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: propertiesWithHistory
          in: query
          description: A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: associations
          in: query
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets
    delete:
      tags:
        - Basic
      summary: Archive
      description: Move an Object identified by `{ticketId}` to the recycling bin.
      operationId: DeleteTicketById
      parameters:
        - name: ticketId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets
    patch:
      tags:
        - Basic
      summary: Update
      description: Perform a partial update of an Object identified by `{ticketId}`or optionally a unique property value as specified by the `idProperty` query param. `{ticketId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.
      operationId: UpdateTicketById
      parameters:
        - name: ticketId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: idProperty
          in: query
          description: The name of a property whose values are unique for this object
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets
  /crm/v3/objects/tickets:
    post:
      tags:
        - Basic
      summary: Create
      description: Create a ticket with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard tickets is provided.
      operationId: CreateTicket
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets
  /crm/v3/objects/tickets/search:
    post:
      tags:
        - Search
      summary: Search
      description: Search for tickets using the query schema.
      operationId: SearchTickets
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/owners/:
    get:
      tags:
        - Owners
      summary: Get a page of owners
      operationId: GetPageOfOwners
      parameters:
        - name: email
          in: query
          description: Filter by email address (optional)
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: after
          in: query
          description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to display per page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 100
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicOwnerForwardPaging'
        default:
          $ref: '#/components/responses/Error'
      security:
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
  /crm/v3/owners/{ownerId}:
    get:
      tags:
        - Owners
      summary: Read an owner by given `id` or `userId`
      operationId: GetOwnerById
      parameters:
        - name: ownerId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
        - name: idProperty
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: id
            enum:
              - id
              - userId
        - name: archived
          in: query
          description: Whether to return only results that have been archived.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOwner'
        default:
          $ref: '#/components/responses/Error'
      security:
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
components:
  schemas:
    ErrorDetail:
      required:
        - message
      type: object
      properties:
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        code:
          type: string
          description: The status code associated with the error detail
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
              - scope1
              - scope2
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
    Error:
      required:
        - category
        - correlationId
        - message
      type: object
      properties:
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example:
            missingScopes:
              - scope1
              - scope2
            invalidPropertyName:
              - propertyValue
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: Invalid input (details will vary based on the error)
        category:
          type: string
          description: The error category
          example: VALIDATION_ERROR
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    AccessTokenInfoResponse:
      required:
        - app_id
        - expires_in
        - hub_id
        - scopes
        - token
        - token_type
        - user_id
      type: object
      properties:
        hub_id:
          type: integer
          description: ''
          format: int32
        user_id:
          type: integer
          description: ''
          format: int32
        scopes:
          type: array
          description: ''
          items:
            type: string
        token_type:
          type: string
          description: ''
        user:
          type: string
          description: ''
        hub_domain:
          type: string
          description: ''
        app_id:
          type: integer
          description: ''
          format: int32
        expires_in:
          type: integer
          description: ''
          format: int32
        token:
          type: string
          description: ''
    CollectionResponseAssociatedId:
      required:
        - results
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/AssociatedId'
    PublicAssociationsForObject:
      required:
        - to
        - types
      type: object
      properties:
        types:
          type: array
          items:
            $ref: '#/components/schemas/AssociationSpec'
        to:
          $ref: '#/components/schemas/PublicObjectId'
    FilterGroup:
      required:
        - filters
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    ForwardPaging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
    ValueWithTimestamp:
      required:
        - sourceType
        - timestamp
        - value
      type: object
      properties:
        sourceId:
          type: string
        sourceType:
          type: string
        sourceLabel:
          type: string
        updatedByUserId:
          type: integer
          format: int32
        value:
          type: string
        timestamp:
          type: string
          format: date-time
    CollectionResponseWithTotalSimplePublicObjectForwardPaging:
      required:
        - results
        - total
      type: object
      properties:
        total:
          type: integer
          format: int32
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObject'
    SimplePublicObject:
      required:
        - createdAt
        - id
        - properties
        - updatedAt
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        archived:
          type: boolean
          example: false
        archivedAt:
          type: string
          format: date-time
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
        id:
          type: string
          example: '512'
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          example:
            property_date: '1572480000000'
            property_radio: option_1
            property_number: '17'
            property_string: value
            property_checkbox: 'false'
            property_dropdown: choice_b
            property_multiple_checkboxes: chocolate;strawberry
        updatedAt:
          type: string
          format: date-time
      example:
        id: '512'
        properties:
          createdate: '2019-10-30T03:30:17.883Z'
          hs_call_body: Decision maker out, will call back tomorrow
          hs_call_duration: '3800'
          hs_call_from_number: "(857)Ï829 5489"
          hs_call_recording_url: https://api.twilio.com/2010-04-01/Accounts/ex/Recordings/RE3079ac919116b2d22
          hs_call_status: COMPLETED
          hs_call_title: Discovery call
          hs_call_to_number: (509) 999 9999
          hs_lastmodifieddate: '2019-12-07T16:50:06.678Z'
          hs_timestamp: '2019-10-30T03:30:17.883Z'
          hubspot_owner_id: '910901'
          hs_email_direction: EMAIL
          hs_email_sender_email: SalesPerson@hubspot.com
          hs_email_sender_firstname: Francis
          hs_email_sender_lastname: Seller
          hs_email_status: SENT
          hs_email_subject: Let's talk
          hs_email_text: Thanks for taking your interest let's find a time to connect
          hs_email_to_email: bh@biglytics.com
          hs_email_to_firstname: Brian
          hs_email_to_lastname: Buyer
          hs_internal_meeting_notes: These are the meeting notes
          hs_meeting_body: The first meeting to discuss options
          hs_meeting_end_time: '2021-03-23T01:52:44.872Z'
          hs_meeting_external_url: https://Zoom.com/0000
          hs_meeting_location: Remote
          hs_meeting_outcome: SCHEDULED
          hs_meeting_start_time: '2021-03-23T01:02:44.872Z'
          hs_meeting_title: Intro meeting
          hs_note_body: Spoke with decision maker john
          city: Cambridge
          domain: biglytics.net
          industry: Technology
          name: Biglytics
          phone: (877) 929-0687
          state: Massachusetts
          company: Biglytics
          email: bcooper@biglytics.net
          firstname: Bryan
          lastmodifieddate: '2019-12-07T16:50:06.678Z'
          lastname: Cooper
          website: biglytics.net
          amount: '1500.00'
          closedate: '2019-12-07T16:50:06.678Z'
          dealname: Custom data integrations
          dealstage: presentationscheduled
          pipeline: default
          hs_pipeline: support_pipeline
          hs_pipeline_stage: open
          hs_ticket_priority: HIGH
          subject: troubleshoot report
        createdAt: '2019-10-30T03:30:17.883Z'
        updatedAt: '2019-12-07T16:50:06.678Z'
        archived: false
    PublicObjectId:
      required:
        - id
      type: object
      properties:
        id:
          type: string
    Paging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
    PublicObjectSearchRequest:
      type: object
      properties:
        query:
          type: string
        limit:
          type: integer
          format: int32
        after:
          type: string
        sorts:
          type: array
          items:
            type: string
        properties:
          type: array
          items:
            type: string
        filterGroups:
          type: array
          items:
            $ref: '#/components/schemas/FilterGroup'
      required:
        - after
        - filterGroups
        - limit
        - properties
        - sorts
    SimplePublicObjectInput:
      required:
        - properties
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            type: string
          example:
            property_date: '1572480000000'
            property_radio: option_1
            property_number: '17'
            property_string: value
            property_checkbox: 'false'
            property_dropdown: choice_b
            property_multiple_checkboxes: chocolate;strawberry
      example:
        properties:
          hs_call_body: Decision maker out, will call back tomorrow
          hs_timestamp: '2019-10-30T03:30:17.883Z'
          hs_call_title: Discovery call
          hs_call_status: COMPLETED
          hs_call_duration: '3800'
          hubspot_owner_id: '910901'
          hs_call_to_number: (509) 999 9999
          hs_call_from_number: "(857)Ï829 5489"
          hs_call_recording_url: https://api.twilio.com/2010-04-01/Accounts/ex/Recordings/RE3079ac919116b2d22
          hs_email_text: Thanks for taking your interest let's find a time to connect
          hs_email_status: SENT
          hs_email_subject: Let's talk
          hs_email_to_email: bh@biglytics.com
          hs_email_direction: EMAIL
          hs_email_to_lastname: Buyer
          hs_email_sender_email: SalesPerson@hubspot.com
          hs_email_to_firstname: Brian
          hs_email_sender_lastname: Seller
          hs_email_sender_firstname: Francis
          hs_meeting_body: The first meeting to discuss options
          hs_meeting_title: Intro meeting
          hs_meeting_outcome: SCHEDULED
          hs_meeting_end_time: '2021-03-23T01:52:44.872Z'
          hs_meeting_location: Remote
          hs_meeting_start_time: '2021-03-23T01:02:44.872Z'
          hs_meeting_external_url: https://Zoom.com/0000
          hs_internal_meeting_notes: These are the meeting notes
          hs_note_body: Spoke with decision maker john
          city: Cambridge
          name: Biglytics
          phone: (877) 929-0687
          state: Massachusetts
          domain: biglytics.net
          industry: Technology
          email: bcooper@biglytics.net
          company: Biglytics
          website: biglytics.net
          lastname: Cooper
          firstname: Bryan
          amount: '1500.00'
          dealname: Custom data integrations
          pipeline: default
          closedate: '2019-12-07T16:50:06.678Z'
          dealstage: presentationscheduled
          subject: troubleshoot report
          hs_pipeline: support_pipeline
          hs_pipeline_stage: open
          hs_ticket_priority: HIGH
        associations:
          - to:
              id: '101'
            types:
              - associationCategory: HUBSPOT_DEFINED
                associationTypeId: 2
    AssociationSpec:
      required:
        - associationCategory
        - associationTypeId
      type: object
      properties:
        associationCategory:
          type: string
          enum:
            - HUBSPOT_DEFINED
            - USER_DEFINED
            - INTEGRATOR_DEFINED
        associationTypeId:
          type: integer
          format: int32
    SimplePublicObjectWithAssociations:
      required:
        - createdAt
        - id
        - properties
        - updatedAt
      type: object
      properties:
        associations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociatedId'
        createdAt:
          type: string
          format: date-time
        archived:
          type: boolean
        archivedAt:
          type: string
          format: date-time
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
        id:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
            nullable: true
          example:
            city: Cambridge
            name: Biglytics
            phone: (877) 929-0687
            state: Massachusetts
            domain: biglytics.net
            industry: Technology
            email: bcooper@biglytics.net
            company: Biglytics
            website: biglytics.net
            lastname: Cooper
            firstname: Bryan
            amount: '1500.00'
            dealname: Custom data integrations
            pipeline: default
            closedate: '2019-12-07T16:50:06.678Z'
            dealstage: presentationscheduled
            hubspot_owner_id: '910901'
        updatedAt:
          type: string
          format: date-time
      example:
        properties:
          createdate: '2019-10-30T03:30:17.883Z'
          hs_call_body: Decision maker out, will call back tomorrow
          hs_call_duration: '3800'
          hs_call_from_number: "(857)Ï829 5489"
          hs_call_recording_url: https://api.twilio.com/2010-04-01/Accounts/ex/Recordings/RE3079ac919116b2d22
          hs_call_status: COMPLETED
          hs_call_title: Discovery call
          hs_call_to_number: (509) 999 9999
          hs_lastmodifieddate: '2019-12-07T16:50:06.678Z'
          hs_timestamp: '2019-10-30T03:30:17.883Z'
          hubspot_owner_id: '910901'
          hs_email_direction: EMAIL
          hs_email_sender_email: SalesPerson@hubspot.com
          hs_email_sender_firstname: Francis
          hs_email_sender_lastname: Seller
          hs_email_status: SENT
          hs_email_subject: Let's talk
          hs_email_text: Thanks for taking your interest let's find a time to connect
          hs_email_to_email: bh@biglytics.com
          hs_email_to_firstname: Brian
          hs_email_to_lastname: Buyer
          hs_internal_meeting_notes: These are the meeting notes
          hs_meeting_body: The first meeting to discuss options
          hs_meeting_end_time: '2021-03-23T01:52:44.872Z'
          hs_meeting_external_url: https://Zoom.com/0000
          hs_meeting_location: Remote
          hs_meeting_outcome: SCHEDULED
          hs_meeting_start_time: '2021-03-23T01:02:44.872Z'
          hs_meeting_title: Intro meeting
          hs_note_body: Spoke with decision maker john
          city: Cambridge
          domain: biglytics.net
          industry: Technology
          name: Biglytics
          phone: (877) 929-0687
          state: Massachusetts
          company: Biglytics
          email: bcooper@biglytics.net
          firstname: Bryan
          lastmodifieddate: '2019-12-07T16:50:06.678Z'
          lastname: Cooper
          website: biglytics.net
          amount: '1500.00'
          closedate: '2019-12-07T16:50:06.678Z'
          dealname: Custom data integrations
          dealstage: presentationscheduled
          pipeline: default
          hs_pipeline: support_pipeline
          hs_pipeline_stage: open
          hs_ticket_priority: HIGH
          subject: troubleshoot report
    Filter:
      required:
        - operator
        - propertyName
      type: object
      properties:
        highValue:
          type: string
        propertyName:
          type: string
        values:
          type: array
          items:
            type: string
        value:
          type: string
        operator:
          type: string
          description: 'null'
          enum:
            - EQ
            - NEQ
            - LT
            - LTE
            - GT
            - GTE
            - BETWEEN
            - IN
            - NOT_IN
            - HAS_PROPERTY
            - NOT_HAS_PROPERTY
            - CONTAINS_TOKEN
            - NOT_CONTAINS_TOKEN
    PreviousPage:
      required:
        - before
      type: object
      properties:
        before:
          type: string
          description: The offset of the previous page of records.
        link:
          type: string
          description: A direct link to the request for the previous page of records.
    AssociatedId:
      required:
        - id
        - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
    NextPage:
      required:
        - after
      type: object
      properties:
        link:
          type: string
          example: ?after=NTI1Cg%3D%3D
          description: A direct link to the request for the next page of records.
        after:
          type: string
          example: NTI1Cg%3D%3D
          description: The offset for the next page of records.
      example:
        after: NTI1Cg%3D%3D
        link: ?after=NTI1Cg%3D%3D
    SimplePublicObjectInputForCreate:
      required:
        - properties
      type: object
      properties:
        associations:
          type: array
          items:
            $ref: '#/components/schemas/PublicAssociationsForObject'
        properties:
          type: object
          additionalProperties:
            type: string
          example:
            city: Cambridge
            name: Biglytics
            phone: (877) 929-0687
            state: Massachusetts
            domain: biglytics.net
            industry: Technology
            email: bcooper@biglytics.net
            company: Biglytics
            website: biglytics.net
            lastname: Cooper
            firstname: Bryan
            amount: '1500.00'
            dealname: Custom data integrations
            pipeline: default
            closedate: '2019-12-07T16:50:06.678Z'
            dealstage: presentationscheduled
            hubspot_owner_id: '910901'
      example:
        properties:
          hs_call_body: Decision maker out, will call back tomorrow
          hs_timestamp: '2019-10-30T03:30:17.883Z'
          hs_call_title: Discovery call
          hs_call_status: COMPLETED
          hs_call_duration: '3800'
          hubspot_owner_id: '910901'
          hs_call_to_number: (509) 999 9999
          hs_call_from_number: "(857)Ï829 5489"
          hs_call_recording_url: https://api.twilio.com/2010-04-01/Accounts/ex/Recordings/RE3079ac919116b2d22
          hs_email_text: Thanks for taking your interest let's find a time to connect
          hs_email_status: SENT
          hs_email_subject: Let's talk
          hs_email_to_email: bh@biglytics.com
          hs_email_direction: EMAIL
          hs_email_to_lastname: Buyer
          hs_email_sender_email: SalesPerson@hubspot.com
          hs_email_to_firstname: Brian
          hs_email_sender_lastname: Seller
          hs_email_sender_firstname: Francis
          hs_meeting_body: The first meeting to discuss options
          hs_meeting_title: Intro meeting
          hs_meeting_outcome: SCHEDULED
          hs_meeting_end_time: '2021-03-23T01:52:44.872Z'
          hs_meeting_location: Remote
          hs_meeting_start_time: '2021-03-23T01:02:44.872Z'
          hs_meeting_external_url: https://Zoom.com/0000
          hs_internal_meeting_notes: These are the meeting notes
          hs_note_body: Spoke with decision maker john
          city: Cambridge
          name: Biglytics
          phone: (877) 929-0687
          state: Massachusetts
          domain: biglytics.net
          industry: Technology
          email: bcooper@biglytics.net
          company: Biglytics
          website: biglytics.net
          lastname: Cooper
          firstname: Bryan
          amount: '1500.00'
          dealname: Custom data integrations
          pipeline: default
          closedate: '2019-12-07T16:50:06.678Z'
          dealstage: presentationscheduled
          subject: troubleshoot report
          hs_pipeline: support_pipeline
          hs_pipeline_stage: open
          hs_ticket_priority: HIGH
        associations:
          - to:
              id: '101'
            types:
              - associationCategory: HUBSPOT_DEFINED
                associationTypeId: 2
    CollectionResponseSimplePublicObjectWithAssociationsForwardPaging:
      required:
        - results
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
    PublicPropertyAssociationFilterBranch:
      title: PROPERTY_ASSOCIATION
      required:
        - filterBranchOperator
        - filterBranchType
        - filterBranches
        - filters
        - objectTypeId
        - operator
        - propertyWithObjectId
      type: object
      properties:
        filterBranchType:
          type: string
          default: PROPERTY_ASSOCIATION
          enum:
            - PROPERTY_ASSOCIATION
        filterBranches:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/PublicOrFilterBranch'
              - $ref: '#/components/schemas/PublicAndFilterBranch'
              - $ref: '#/components/schemas/PublicNotAllFilterBranch'
              - $ref: '#/components/schemas/PublicNotAnyFilterBranch'
              - $ref: '#/components/schemas/PublicRestrictedFilterBranch'
              - $ref: '#/components/schemas/PublicUnifiedEventsFilterBranch'
              - $ref: '#/components/schemas/PublicPropertyAssociationFilterBranch'
              - $ref: '#/components/schemas/PublicAssociationFilterBranch'
        objectTypeId:
          type: string
        filterBranchOperator:
          type: string
        filters:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/PublicPropertyFilter'
              - $ref: '#/components/schemas/PublicAssociationInListFilter'
              - $ref: '#/components/schemas/PublicPageViewAnalyticsFilter'
              - $ref: '#/components/schemas/PublicCtaAnalyticsFilter'
              - $ref: '#/components/schemas/PublicEventAnalyticsFilter'
              - $ref: '#/components/schemas/PublicFormSubmissionFilter'
              - $ref: '#/components/schemas/PublicFormSubmissionOnPageFilter'
              - $ref: '#/components/schemas/PublicIntegrationEventFilter'
              - $ref: '#/components/schemas/PublicEmailSubscriptionFilter'
              - $ref: '#/components/schemas/PublicCommunicationSubscriptionFilter'
              - $ref: '#/components/schemas/PublicCampaignInfluencedFilter'
              - $ref: '#/components/schemas/PublicSurveyMonkeyFilter'
              - $ref: '#/components/schemas/PublicSurveyMonkeyValueFilter'
              - $ref: '#/components/schemas/PublicWebinarFilter'
              - $ref: '#/components/schemas/PublicEmailEventFilter'
              - $ref: '#/components/schemas/PublicPrivacyAnalyticsFilter'
              - $ref: '#/components/schemas/PublicAdsSearchFilter'
              - $ref: '#/components/schemas/PublicAdsTimeFilter'
              - $ref: '#/components/schemas/PublicInListFilter'
              - $ref: '#/components/schemas/PublicNumAssociationsFilter'
              - $ref: '#/components/schemas/PublicUnifiedEventsFilter'
              - $ref: '#/components/schemas/PublicPropertyAssociationInListFilter'
              - $ref: '#/components/schemas/PublicConstantFilter'
        propertyWithObjectId:
          type: string
        operator:
          type: string
    PublicNumberPropertyOperation:
      title: NUMBER
      required:
        - includeObjectsWithNoValueSet
        - operationType
        - operator
        - value
      type: object
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        operationType:
          type: string
          default: NUMBER
          enum:
            - NUMBER
        value:
          type: number
        operator:
          type: string
    PublicYearReference:
      title: YEAR
      required:
        - day
        - month
        - referenceType
      type: object
      properties:
        hour:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        millisecond:
          type: integer
          format: int32
        referenceType:
          type: string
          default: YEAR
          enum:
            - YEAR
        day:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
    PublicInListFilterMetadata:
      required:
        - id
        - inListType
      type: object
      properties:
        id:
          type: string
        inListType:
          type: string
    PublicRangedDatePropertyOperation:
      title: RANGED_DATE
      required:
        - includeObjectsWithNoValueSet
        - lowerBound
        - operationType
        - operator
        - requiresTimeZoneConversion
        - upperBound
      type: object
      properties:
        includeObjectsWithNoValueSet:
          type: boolean
        upperBound:
          type: integer
          format: int32
        requiresTimeZoneConversion:
          type: boolean
        operationType:
          type: string
          default: RANGED_DATE
          enum:
            - RANGED_DATE
        lowerBound:
          type: integer
          format: int32
        operator:
          type: string
    ListSearchRequest:
      type: object
      properties:
        listIds:
          type: array
          description: 'The `listIds` that will be used to filter results by `listId`. If values are provided, then the response will only include results that have a `listId` in this array.


            If no value is provided, or if an empty list is provided, then the results will not be filtered by `listId`.'
          items:
            type: string
        offset:
          type: integer
          description: Value used to paginate through lists. The `offset` provided in the response can be used in the next request to fetch the next page of results. Defaults to `0` if no offset is provided.
          format: int32
        query:
          type: string
          description: The `query` that will be used to search for lists by list name. If no `query` is provided, then the results will include all lists.
        count:
          type: integer
          description: The number of lists to include in the response. Defaults to `20` if no value is provided. The max `count` is `500`.
          format: int32
        processingTypes:
          type: array
          description: 'The `processingTypes` that will be used to filter results by `processingType`. If values are provided, then the response will only include results that have a `processingType` in this array.


            If no value is provided, or if an empty list is provided, then results will not be filtered by `processingType`.


            Valid `processingTypes` are: `MANUAL`, `SNAPSHOT`, or `DYNAMIC`.'
          items:
            type: string
        additionalProperties:
          type: array
          description: 'The property names of any additional list properties to include in the response. Properties that do not exist or that are empty for a particular list are not included in the response.


            By default, all requests will fetch the following properties for each list: `hs_list_size`, `hs_last_record_added_at`, `hs_last_record_removed_at`, `hs_folder_name`, and `hs_list_reference_count`.'
          items:
            type: string
        sort:
          type: string
    ListSearchResponse:
      required:
        - hasMore
        - lists
        - offset
        - total
      type: object
      properties:
        total:
          type: integer
          description: The total number of lists that match the search criteria.
          format: int32
        offset:
          type: integer
          description: Value to be passed in a future request to paginate through list search results.
          format: int32
        lists:
          type: array
          description: The lists that matched the search criteria.
          items:
            $ref: '#/components/schemas/PublicObjectListSearchResult'
        hasMore:
          type: boolean
          description: Whether or not there are more results to page through.
    PublicInListFilter:
      title: IN_LIST
      required:
        - filterType
        - listId
        - operator
      type: object
      properties:
        listId:
          type: string
        metadata:
          $ref: '#/components/schemas/PublicInListFilterMetadata'
        filterType:
          type: string
          default: IN_LIST
          enum:
            - IN_LIST
        operator:
          type: string
    PublicSurveyMonkeyValueFilter:
      title: SURVEY_MONKEY_VALUE
      required:
        - filterType
        - operator
        - surveyId
        - surveyQuestion
        - valueComparison
      type: object
      properties:
        valueComparison:
          oneOf:
            - $ref: '#/components/schemas/PublicBoolPropertyOperation'
            - $ref: '#/components/schemas/PublicNumberPropertyOperation'
            - $ref: '#/components/schemas/PublicStringPropertyOperation'
            - $ref: '#/components/schemas/PublicDateTimePropertyOperation'
            - $ref: '#/components/schemas/PublicRangedDatePropertyOperation'
            - $ref: '#/components/schemas/PublicComparativePropertyUpdatedOperation'
            - $ref: '#/components/schemas/PublicComparativeDatePropertyOperation'
            - $ref: '#/components/schemas/PublicRollingDateRangePropertyOperation'
            - $ref: '#/components/schemas/PublicRollingPropertyUpdatedOperation'
            - $ref: '#/components/schemas/PublicEnumerationPropertyOperation'
            - $ref: '#/components/schemas/PublicAllPropertyTypesOperation'
            - $ref: '#/components/schemas/PublicRangedNumberPropertyOperation'
            - $ref: '#/components/schemas/PublicMultiStringPropertyOperation'
            - $ref: '#/components/schemas/PublicDatePropertyOperation'
            - $ref: '#/components/schemas/PublicCalendarDatePropertyOperation'
            - $ref: '#/components/schemas/PublicTimePointOperation'
            - $ref: '#/components/schemas/PublicRangedTimeOperation'
        surveyId:
          type: string
        surveyQuestion:
          type: string
        filterType:
          type: string
          default: SURVEY_MONKEY_VALUE
          enum:
            - SURVEY_MONKEY_VALUE
        surveyAnswerRowId:
          type: string
        surveyAnswerColId:
          type: string
        operator:
          type: string
    PublicRelativeComparativeTimestampRefineBy:
      title: RELATIVE_COMPARATIVE
      required:
        - comparison
        - timeOffset
        - type
      type: object
      properties:
        comparison:
          type: string
        timeOffset:
          $ref: '#/components/schemas/PublicTimeOffset'
        type:
          type: string
          default: RELATIVE_COMPARATIVE
          enum:
            - RELATIVE_COMPARATIVE
    PublicCommunicationSubscriptionFilter:
      title: COMMUNICATION_SUBSCRIPTION
      required:
        - acceptedOptStates
        - channel
        - filterType
        - subscriptionIds
        - subscriptionType
      type: object
      properties:
        subscriptionType:
          type: string
        subscriptionIds:
          type: array
          items:
            type: string
        channel:
          type: string
        acceptedOptStates:
          type: array
          items:
            type: string
        filterType:
          type: string
          default: COMMUNICATION_SUBSCRIPTION
          enum:
            - COMMUNICATION_SUBSCRIPTION
        businessUnitId:
          type: string
    PublicObjectListSearchResult:
      required:
        - additionalProperties
        - listId
        - listVersion
        - name
        - objectTypeId
        - processingStatus
        - processingType
      type: object
      properties:
        processingType:
          type: string
          description: The processing type of the list.
        objectTypeId:
          type: string
          description: The object type of the list.
        updatedById:
          type: string
          description: The ID of the user that last updated the list.
        filtersUpdatedAt:
          type: string
          description: The time when the filters for this list were last updated.
          format: date-time
        listId:
          type: string
          description: The **ILS ID** of the list.
        createdAt:
          type: string
          description: The time when the list was created.
          format: date-time
        processingStatus:
          type: string
          description: The processing status of the list.
        deletedAt:
          type: string
          description: The time when the list was deleted.
          format: date-time
        listVersion:
          type: integer
          description: The version of the list.
          format: int32
        name:
          type: string
          description: The name of the list.
        additionalProperties:
          type: object
          additionalProperties:
            type: string
          description: The name and value of any additional properties that exist for this list and that were included in the search request.
        createdById:
          type: string
          description: The ID of the user that created the list.
        updatedAt:
          type: string
          description: The time the list was last updated.
          format: date-time
    PublicRelativeRangedTimestampRefineBy:
      title: RELATIVE_RANGED
      required:
        - lowerBoundOffset
        - rangeType
        - type
        - upperBoundOffset
      type: object
      properties:
        upperBoundOffset:
          $ref: '#/components/schemas/PublicTimeOffset'
        rangeType:
          type: string
        lowerBoundOffset:
          $ref: '#/components/schemas/PublicTimeOffset'
        type:
          type: string
          default: RELATIVE_RANGED
          enum:
            - RELATIVE_RANGED
    PublicIndexOffset:
      type: object
      properties:
        milliseconds:
          type: integer
          format: int32
        hours:
          type: integer
          format: int32
        seconds:
          type: integer
          format: int32
        months:
          type: integer
          format: int32
        weeks:
          type: integer
          format: int32
        minutes:
          type: integer
          format: int32
        quarters:
          type: integer
          format: int32
        days:
          type: integer
          format: int32
        years:
          type: integer
          format: int32
    PublicNotAllFilterBranch:
      title: NOT_ALL
      required:
        - filterBranchOperator
        - filterBranchType
        - filterBranches
        - filters
      type: object
      properties:
        filterBranchType:
          type: string
          default: NOT_ALL
          enum:
            - NOT_ALL
        filterBranches:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/PublicOrFilterBranch'
              - $ref: '#/components/schemas/PublicAndFilterBranch'
              - $ref: '#/components/schemas/PublicNotAllFilterBranch'
              - $ref: '#/components/schemas/PublicNotAnyFilterBranch'
              - $ref: '#/components/schemas/PublicRestrictedFilterBranch'
              - $ref: '#/components/schemas/PublicUnifiedEventsFilterBranch'
              - $ref: '#/components/schemas/PublicPropertyAssociationFilterBranch'
              - $ref: '#/components/schemas/PublicAssociationFilterBranch'
        filterBranchOperator:
          type: string
        filters:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/PublicPropertyFilter'
              - $ref: '#/components/schemas/PublicAssociationInListFilter'
              - $ref: '#/components/schemas/PublicPageViewAnalyticsFilter'
              - $ref: '#/components/schemas/PublicCtaAnalyticsFilter'
              - $ref: '#/components/schemas/PublicEventAnalyticsFilter'
              - $ref: '#/components/schemas/PublicFormSubmissionFilter'
              - $ref: '#/components/schemas/PublicFormSubmissionOnPageFilter'
              - $ref: '#/components/schemas/PublicIntegrationEventFilter'
              - $ref: '#/components/schemas/PublicEmailSubscriptionFilter'
              - $ref: '#/components/schemas/PublicCommunicationSubscriptionFilter'
              - $ref: '#/components/schemas/PublicCampaignInfluencedFilter'
              - $ref: '#/components/schemas/PublicSurveyMonkeyFilter'
              - $ref: '#/components/schemas/PublicSurveyMonkeyValueFilter'
[...]
