openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
- url: https://graph.microsoft.com/v1.0
paths:
  /me/mailFolders:
    description: Provides operations to manage the mailFolders property of the microsoft.graph.user
      entity.
    get:
      tags:
      - me.mailFolder
      summary: List mailFolders
      description: Get the mail folder collection directly under the root folder of
        the signed-in user. The returned collection includes any mail search folders
        directly under the root. By default, this operation does not return hidden
        folders. Use a query parameter includeHiddenFolders to include them in the
        response. This operation does not return all mail folders in a mailbox, only
        the child folders of the root folder. To return all mail folders in a mailbox,
        each child folder must be traversed separately.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-list-mailfolders?view=graph-rest-1.0
      operationId: me.ListMailFolders
      parameters:
      - name: includeHiddenFolders
        in: query
        description: Include Hidden Folders
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/mailFolders/{mailFolder-id}:
    description: Provides operations to manage the mailFolders property of the microsoft.graph.user
      entity.
    get:
      tags:
      - me.mailFolder
      summary: Get mailFolder
      description: 'Retrieve the properties and relationships of a message folder
        object. The following list shows the two existing scenarios where an app can
        get another user''s mail folder:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-get?view=graph-rest-1.0
      operationId: me.GetMailFolders
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/childFolders:
    description: Provides operations to manage the childFolders property of the microsoft.graph.mailFolder
      entity.
    get:
      tags:
      - me.mailFolder
      summary: List childFolders
      description: 'Get the folder collection under the specified folder. You can
        use the .../me/mailFolders shortcut to get the top-level

        folder collection and navigate to another folder. By default, this operation
        does not return hidden folders. Use a query parameter includeHiddenFolders
        to include them in the response.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-childfolders?view=graph-rest-1.0
      operationId: me.mailFolders.ListChildFolders
      parameters:
      - name: includeHiddenFolders
        in: query
        description: Include Hidden Folders
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}:
    description: Provides operations to manage the childFolders property of the microsoft.graph.mailFolder
      entity.
    get:
      tags:
      - me.mailFolder
      summary: Get childFolders from me
      description: The collection of child folders in the mailFolder.
      operationId: me.mailFolders.GetChildFolders
      parameters:
      - name: includeHiddenFolders
        in: query
        description: Include Hidden Folders
        schema:
          type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: mailFolder-id1
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages:
    description: Provides operations to manage the messages property of the microsoft.graph.mailFolder
      entity.
    get:
      tags:
      - me.mailFolder
      summary: Get messages from me
      description: The collection of messages in the mailFolder.
      operationId: me.mailFolders.childFolders.ListMessages
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: mailFolder-id1
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}:
    description: Provides operations to manage the messages property of the microsoft.graph.mailFolder
      entity.
    get:
      tags:
      - me.mailFolder
      summary: Get messages from me
      description: The collection of messages in the mailFolder.
      operationId: me.mailFolders.childFolders.GetMessages
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: mailFolder-id1
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: message-id
      in: path
      description: The unique identifier of message
      required: true
      schema:
        type: string
      x-ms-docs-key-type: message
  /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/$value:
    description: Provides operations to manage the media for the user entity.
    get:
      tags:
      - me.mailFolder
      summary: Get media content for the navigation property messages from me
      description: The unique identifier for an entity. Read-only.
      operationId: me.mailFolders.childFolders.GetMessagesContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: mailFolder-id1
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: message-id
      in: path
      description: The unique identifier of message
      required: true
      schema:
        type: string
      x-ms-docs-key-type: message
  /me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.mailFolder
      summary: Get the number of the resource
      operationId: me.mailFolders.childFolders.messages.GetCount-56da
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: mailFolder-id1
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/childFolders/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.mailFolder
      summary: Get the number of the resource
      operationId: me.mailFolders.childFolders.GetCount-25bc
      parameters:
      - name: includeHiddenFolders
        in: query
        description: Include Hidden Folders
        schema:
          type: string
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/messages:
    description: Provides operations to manage the messages property of the microsoft.graph.mailFolder
      entity.
    get:
      tags:
      - me.mailFolder
      summary: List messages
      description: Get all the messages in the specified user's mailbox, or those
        messages in a specified folder in the mailbox.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: me.mailFolders.ListMessages
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/{mailFolder-id}/messages/{message-id}:
    description: Provides operations to manage the messages property of the microsoft.graph.mailFolder
      entity.
    get:
      tags:
      - me.mailFolder
      summary: Get messages from me
      description: The collection of messages in the mailFolder.
      operationId: me.mailFolders.GetMessages
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: message-id
      in: path
      description: The unique identifier of message
      required: true
      schema:
        type: string
      x-ms-docs-key-type: message
  /me/mailFolders/{mailFolder-id}/messages/{message-id}/$value:
    description: Provides operations to manage the media for the user entity.
    get:
      tags:
      - me.mailFolder
      summary: List messages
      description: Get all the messages in the specified user's mailbox, or those
        messages in a specified folder in the mailbox.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: me.mailFolders.GetMessagesContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
    - name: message-id
      in: path
      description: The unique identifier of message
      required: true
      schema:
        type: string
      x-ms-docs-key-type: message
  /me/mailFolders/{mailFolder-id}/messages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.mailFolder
      summary: Get the number of the resource
      operationId: me.mailFolders.messages.GetCount-363a
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: mailFolder-id
      in: path
      description: The unique identifier of mailFolder
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mailFolder
  /me/mailFolders/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.mailFolder
      summary: Get the number of the resource
      operationId: me.mailFolders.GetCount-c00e
      parameters:
      - name: includeHiddenFolders
        in: query
        description: Include Hidden Folders
        schema:
          type: string
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /me/messages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.message
      summary: Get the number of the resource
      operationId: me.messages.GetCount-a82e
      parameters:
      - name: includeHiddenMessages
        in: query
        description: Include Hidden Messages
        schema:
          type: string
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.attachment:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: attachment
        required:
        - '@odata.type'
        type: object
        properties:
          contentType:
            type: string
            description: The MIME type.
            nullable: true
          isInline:
            type: boolean
            description: true if the attachment is an inline attachment; otherwise,
              false.
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The Timestamp type represents date and time information using
              ISO 8601 format and is always in UTC time. For example, midnight UTC
              on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
            nullable: true
          name:
            type: string
            description: The attachment's file name.
            nullable: true
          size:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            description: The length of the attachment in bytes.
            format: int32
          '@odata.type':
            type: string
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.fileAttachment': '#/components/schemas/microsoft.graph.fileAttachment'
            '#microsoft.graph.itemAttachment': '#/components/schemas/microsoft.graph.itemAttachment'
            '#microsoft.graph.referenceAttachment': '#/components/schemas/microsoft.graph.referenceAttachment'
    microsoft.graph.entity:
      title: entity
      required:
      - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.accessPackage': '#/components/schemas/microsoft.graph.accessPackage'
          '#microsoft.graph.accessPackageAssignment': '#/components/schemas/microsoft.graph.accessPackageAssignment'
          '#microsoft.graph.accessPackageAssignmentPolicy': '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
          '#microsoft.graph.accessPackageAssignmentRequest': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequest'
          '#microsoft.graph.accessPackageCatalog': '#/components/schemas/microsoft.graph.accessPackageCatalog'
          '#microsoft.graph.accessPackageQuestion': '#/components/schemas/microsoft.graph.accessPackageQuestion'
          '#microsoft.graph.accessPackageMultipleChoiceQuestion': '#/components/schemas/microsoft.graph.accessPackageMultipleChoiceQuestion'
          '#microsoft.graph.accessPackageTextInputQuestion': '#/components/schemas/microsoft.graph.accessPackageTextInputQuestion'
          '#microsoft.graph.accessPackageResource': '#/components/schemas/microsoft.graph.accessPackageResource'
          '#microsoft.graph.accessPackageResourceEnvironment': '#/components/schemas/microsoft.graph.accessPackageResourceEnvironment'
          '#microsoft.graph.accessPackageResourceRequest': '#/components/schemas/microsoft.graph.accessPackageResourceRequest'
          '#microsoft.graph.accessPackageResourceRole': '#/components/schemas/microsoft.graph.accessPackageResourceRole'
          '#microsoft.graph.accessPackageResourceRoleScope': '#/components/schemas/microsoft.graph.accessPackageResourceRoleScope'
          '#microsoft.graph.accessPackageResourceScope': '#/components/schemas/microsoft.graph.accessPackageResourceScope'
          '#microsoft.graph.accessPackageSubject': '#/components/schemas/microsoft.graph.accessPackageSubject'
          '#microsoft.graph.accessReviewHistoryDefinition': '#/components/schemas/microsoft.graph.accessReviewHistoryDefinition'
          '#microsoft.graph.accessReviewHistoryInstance': '#/components/schemas/microsoft.graph.accessReviewHistoryInstance'
          '#microsoft.graph.accessReviewInstance': '#/components/schemas/microsoft.graph.accessReviewInstance'
          '#microsoft.graph.accessReviewInstanceDecisionItem': '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
          '#microsoft.graph.accessReviewReviewer': '#/components/schemas/microsoft.graph.accessReviewReviewer'
          '#microsoft.graph.accessReviewScheduleDefinition': '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
          '#microsoft.graph.accessReviewSet': '#/components/schemas/microsoft.graph.accessReviewSet'
          '#microsoft.graph.accessReviewStage': '#/components/schemas/microsoft.graph.accessReviewStage'
          '#microsoft.graph.activityHistoryItem': '#/components/schemas/microsoft.graph.activityHistoryItem'
          '#microsoft.graph.adminConsentRequestPolicy': '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
          '#microsoft.graph.adminMicrosoft365Apps': '#/components/schemas/microsoft.graph.adminMicrosoft365Apps'
          '#microsoft.graph.agreement': '#/components/schemas/microsoft.graph.agreement'
          '#microsoft.graph.agreementAcceptance': '#/components/schemas/microsoft.graph.agreementAcceptance'
          '#microsoft.graph.agreementFileProperties': '#/components/schemas/microsoft.graph.agreementFileProperties'
          '#microsoft.graph.agreementFile': '#/components/schemas/microsoft.graph.agreementFile'
          '#microsoft.graph.agreementFileLocalization': '#/components/schemas/microsoft.graph.agreementFileLocalization'
          '#microsoft.graph.agreementFileVersion': '#/components/schemas/microsoft.graph.agreementFileVersion'
          '#microsoft.graph.alert': '#/components/schemas/microsoft.graph.alert'
          '#microsoft.graph.allowedValue': '#/components/schemas/microsoft.graph.allowedValue'
          '#microsoft.graph.appCatalogs': '#/components/schemas/microsoft.graph.appCatalogs'
          '#microsoft.graph.appConsentApprovalRoute': '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
          '#microsoft.graph.appConsentRequest': '#/components/schemas/microsoft.graph.appConsentRequest'
          '#microsoft.graph.applePushNotificationCertificate': '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
          '#microsoft.graph.applicationTemplate': '#/components/schemas/microsoft.graph.applicationTemplate'
          '#microsoft.graph.appLogCollectionRequest': '#/components/schemas/microsoft.graph.appLogCollectionRequest'
          '#microsoft.graph.approval': '#/components/schemas/microsoft.graph.approval'
          '#microsoft.graph.approvalStage': '#/components/schemas/microsoft.graph.approvalStage'
          '#microsoft.graph.appScope': '#/components/schemas/microsoft.graph.appScope'
          '#microsoft.graph.attachment': '#/components/schemas/microsoft.graph.attachment'
          '#microsoft.graph.fileAttachment': '#/components/schemas/microsoft.graph.fileAttachment'
          '#microsoft.graph.itemAttachment': '#/components/schemas/microsoft.graph.itemAttachment'
          '#microsoft.graph.referenceAttachment': '#/components/schemas/microsoft.graph.referenceAttachment'
          '#microsoft.graph.attachmentBase': '#/components/schemas/microsoft.graph.attachmentBase'
          '#microsoft.graph.taskFileAttachment': '#/components/schemas/microsoft.graph.taskFileAttachment'
          '#microsoft.graph.attachmentSession': '#/components/schemas/microsoft.graph.attachmentSession'
          '#microsoft.graph.attackSimulationRoot': '#/components/schemas/microsoft.graph.attackSimulationRoot'
          '#microsoft.graph.attendanceRecord': '#/components/schemas/microsoft.graph.attendanceRecord'
          '#microsoft.graph.attributeMappingFunctionSchema': '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
          '#microsoft.graph.attributeSet': '#/components/schemas/microsoft.graph.attributeSet'
          '#microsoft.graph.audioRoutingGroup': '#/components/schemas/microsoft.graph.audioRoutingGroup'
          '#microsoft.graph.auditEvent': '#/components/schemas/microsoft.graph.auditEvent'
          '#microsoft.graph.auditLogRoot': '#/components/schemas/microsoft.graph.auditLogRoot'
          '#microsoft.graph.authentication': '#/components/schemas/microsoft.graph.authentication'
          '#microsoft.graph.authenticationCombinationConfiguration': '#/components/schemas/microsoft.graph.authenticationCombinationConfiguration'
          '#microsoft.graph.fido2CombinationConfiguration': '#/components/schemas/microsoft.graph.fido2CombinationConfiguration'
          '#microsoft.graph.x509CertificateCombinationConfiguration': '#/components/schemas/microsoft.graph.x509CertificateCombinationConfiguration'
          '#microsoft.graph.authenticationContextClassReference': '#/components/schemas/microsoft.graph.authenticationContextClassReference'
          '#microsoft.graph.authenticationEventListener': '#/components/schemas/microsoft.graph.authenticationEventListener'
          '#microsoft.graph.onAttributeCollectionListener': '#/components/schemas/microsoft.graph.onAttributeCollectionListener'
          '#microsoft.graph.onAuthenticationMethodLoadStartListener': '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartListener'
          '#microsoft.graph.onInteractiveAuthFlowStartListener': '#/components/schemas/microsoft.graph.onInteractiveAuthFlowStartListener'
          '#microsoft.graph.onTokenIssuanceStartListener': '#/components/schemas/microsoft.graph.onTokenIssuanceStartListener'
          '#microsoft.graph.onUserCreateStartListener': '#/components/schemas/microsoft.graph.onUserCreateStartListener'
          '#microsoft.graph.authenticationEventsFlow': '#/components/schemas/microsoft.graph.authenticationEventsFlow'
          '#microsoft.graph.externalUsersSelfServiceSignUpEventsFlow': '#/components/schemas/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow'
          '#microsoft.graph.authenticationFlowsPolicy': '#/components/schemas/microsoft.graph.authenticationFlowsPolicy'
          '#microsoft.graph.authenticationMethod': '#/components/schemas/microsoft.graph.authenticationMethod'
          '#microsoft.graph.emailAuthenticationMethod': '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
          '#microsoft.graph.fido2AuthenticationMethod': '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethod': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
          '#microsoft.graph.passwordAuthenticationMethod': '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
          '#microsoft.graph.phoneAuthenticationMethod': '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
          '#microsoft.graph.softwareOathAuthenticationMethod': '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
          '#microsoft.graph.temporaryAccessPassAuthenticationMethod': '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
          '#microsoft.graph.windowsHelloForBusinessAuthenticationMethod': '#/components/schemas/microsoft.graph.windowsHelloForBusinessAuthenticationMethod'
          '#microsoft.graph.authenticationMethodConfiguration': '#/components/schemas/microsoft.graph.authenticationMethodConfiguration'
          '#microsoft.graph.emailAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.emailAuthenticationMethodConfiguration'
          '#microsoft.graph.fido2AuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.fido2AuthenticationMethodConfiguration'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethodConfiguration'
          '#microsoft.graph.smsAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.smsAuthenticationMethodConfiguration'
          '#microsoft.graph.softwareOathAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethodConfiguration'
          '#microsoft.graph.temporaryAccessPassAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethodConfiguration'
          '#microsoft.graph.voiceAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.voiceAuthenticationMethodConfiguration'
          '#microsoft.graph.x509CertificateAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.x509CertificateAuthenticationMethodConfiguration'
          '#microsoft.graph.authenticationMethodModeDetail': '#/components/schemas/microsoft.graph.authenticationMethodModeDetail'
          '#microsoft.graph.authenticationMethodsPolicy': '#/components/schemas/microsoft.graph.authenticationMethodsPolicy'
          '#microsoft.graph.authenticationMethodsRoot': '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
          '#microsoft.graph.authenticationMethodTarget': '#/components/schemas/microsoft.graph.authenticationMethodTarget'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethodTarget'
          '#microsoft.graph.smsAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.smsAuthenticationMethodTarget'
          '#microsoft.graph.authenticationStrengthPolicy': '#/components/schemas/microsoft.graph.authenticationStrengthPolicy'
          '#microsoft.graph.authenticationStrengthRoot': '#/components/schemas/microsoft.graph.authenticationStrengthRoot'
          '#microsoft.graph.authoredNote': '#/components/schemas/microsoft.graph.authoredNote'
          '#microsoft.graph.baseItem': '#/components/schemas/microsoft.graph.baseItem'
          '#microsoft.graph.baseSitePage': '#/components/schemas/microsoft.graph.baseSitePage'
          '#microsoft.graph.sitePage': '#/components/schemas/microsoft.graph.sitePage'
          '#microsoft.graph.drive': '#/components/schemas/microsoft.graph.drive'
          '#microsoft.graph.driveItem': '#/components/schemas/microsoft.graph.driveItem'
          '#microsoft.graph.list': '#/components/schemas/microsoft.graph.list'
          '#microsoft.graph.listItem': '#/components/schemas/microsoft.graph.listItem'
          '#microsoft.graph.sharedDriveItem': '#/components/schemas/microsoft.graph.sharedDriveItem'
          '#microsoft.graph.site': '#/components/schemas/microsoft.graph.site'
          '#microsoft.graph.baseItemVersion': '#/components/schemas/microsoft.graph.baseItemVersion'
          '#microsoft.graph.driveItemVersion': '#/components/schemas/microsoft.graph.driveItemVersion'
          '#microsoft.graph.listItemVersion': '#/components/schemas/microsoft.graph.listItemVersion'
          '#microsoft.graph.documentSetVersion': '#/components/schemas/microsoft.graph.documentSetVersion'
          '#microsoft.graph.bitlocker': '#/components/schemas/microsoft.graph.bitlocker'
          '#microsoft.graph.bitlockerRecoveryKey': '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
          '#microsoft.graph.bookingAppointment': '#/components/schemas/microsoft.graph.bookingAppointment'
          '#microsoft.graph.bookingBusiness': '#/components/schemas/microsoft.graph.bookingBusiness'
          '#microsoft.graph.bookingCurrency': '#/components/schemas/microsoft.graph.bookingCurrency'
          '#microsoft.graph.bookingCustomerBase': '#/components/schemas/microsoft.graph.bookingCustomerBase'
          '#microsoft.graph.bookingCustomer': '#/components/schemas/microsoft.graph.bookingCustomer'
          '#microsoft.graph.bookingCustomQuestion': '#/components/schemas/microsoft.graph.bookingCustomQuestion'
          '#microsoft.graph.bookingService': '#/components/schemas/microsoft.graph.bookingService'
          '#microsoft.graph.bookingStaffMemberBase': '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
          '#microsoft.graph.bookingStaffMember': '#/components/schemas/microsoft.graph.bookingStaffMember'
          '#microsoft.graph.browserSharedCookie': '#/components/schemas/microsoft.graph.browserSharedCookie'
          '#microsoft.graph.browserSite': '#/components/schemas/microsoft.graph.browserSite'
          '#microsoft.graph.browserSiteList': '#/components/schemas/microsoft.graph.browserSiteList'
          '#microsoft.graph.bulkUpload': '#/components/schemas/microsoft.graph.bulkUpload'
          '#microsoft.graph.calendar': '#/components/schemas/microsoft.graph.calendar'
          '#microsoft.graph.calendarGroup': '#/components/schemas/microsoft.graph.calendarGroup'
          '#microsoft.graph.calendarPermission': '#/components/schemas/microsoft.graph.calendarPermission'
          '#microsoft.graph.call': '#/components/schemas/microsoft.graph.call'
          '#microsoft.graph.callRecording': '#/components/schemas/microsoft.graph.callRecording'
          '#microsoft.graph.callTranscript': '#/components/schemas/microsoft.graph.callTranscript'
          '#microsoft.graph.canvasLayout': '#/components/schemas/microsoft.graph.canvasLayout'
          '#microsoft.graph.certificateBasedAuthConfiguration': '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
          '#microsoft.graph.changeTrackedEntity': '#/components/schemas/microsoft.graph.changeTrackedEntity'
          '#microsoft.graph.openShift': '#/components/schemas/microsoft.graph.openShift'
          '#microsoft.graph.scheduleChangeRequest': '#/components/schemas/microsoft.graph.scheduleChangeRequest'
          '#microsoft.graph.offerShiftRequest': '#/components/schemas/microsoft.graph.offerShiftRequest'
          '#microsoft.graph.swapShiftsChangeRequest': '#/components/schemas/microsoft.graph.swapShiftsChangeRequest'
          '#microsoft.graph.openShiftChangeRequest': '#/components/schemas/microsoft.graph.openShiftChangeRequest'
          '#microsoft.graph.timeOffRequest': '#/components/schemas/microsoft.graph.timeOffRequest'
          '#microsoft.graph.schedulingGroup': '#/components/schemas/microsoft.graph.schedulingGroup'
          '#microsoft.graph.shift': '#/components/schemas/microsoft.graph.shift'
          '#microsoft.graph.shiftPreferences': '#/components/schemas/microsoft.graph.shiftPreferences'
          '#microsoft.graph.timeOff': '#/components/schemas/microsoft.graph.timeOff'
          '#microsoft.graph.timeOffReason': '#/components/schemas/microsoft.graph.timeOffReason'
          '#microsoft.graph.workforceIntegration': '#/components/schemas/microsoft.graph.workforceIntegration'
          '#microsoft.graph.channel': '#/components/schemas/microsoft.graph.channel'
          '#microsoft.graph.chat': '#/components/schemas/microsoft.graph.chat'
          '#microsoft.graph.chatMessage': '#/components/schemas/microsoft.graph.chatMessage'
          '#microsoft.graph.chatMessageInfo': '#/components/schemas/microsoft.graph.chatMessageInfo'
          '#microsoft.graph.checklistItem': '#/components/schemas/microsoft.graph.checklistItem'
          '#microsoft.graph.cloudClipboardItem': '#/components/schemas/microsoft.graph.cloudClipboardItem'
          '#microsoft.graph.cloudClipboardRoot': '#/components/schemas/microsoft.graph.cloudClipboardRoot'
          '#microsoft.graph.cloudPC': '#/components/schemas/microsoft.graph.cloudPC'
          '#microsoft.graph.cloudPcAuditEvent': '#/components/schemas/microsoft.graph.cloudPcAuditEvent'
          '#microsoft.graph.cloudPcDeviceImage': '#/components/schemas/microsoft.graph.cloudPcDeviceImage'
          '#microsoft.graph.cloudPcGalleryImage': '#/components/schemas/microsoft.graph.cloudPcGalleryImage'
          '#microsoft.graph.cloudPcOnPremisesConnection': '#/components/schemas/microsoft.graph.cloudPcOnPremisesConnection'
          '#microsoft.graph.cloudPcProvisioningPolicy': '#/components/schemas/microsoft.graph.cloudPcProvisioningPolicy'
          '#microsoft.graph.cloudPcProvisioningPolicyAssignment': '#/components/schemas/microsoft.graph.cloudPcProvisioningPolicyAssignment'
          '#microsoft.graph.cloudPcUserSetting': '#/components/schemas/microsoft.graph.cloudPcUserSetting'
          '#microsoft.graph.cloudPcUserSettingAssignment': '#/components/schemas/microsoft.graph.cloudPcUserSettingAssignment'
          '#microsoft.graph.columnDefinition': '#/components/schemas/microsoft.graph.columnDefinition'
          '#microsoft.graph.columnLink': '#/components/schemas/microsoft.graph.columnLink'
          '#microsoft.graph.commsOperation': '#/components/schemas/microsoft.graph.commsOperation'
          '#microsoft.graph.addLargeGalleryViewOperation': '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
          '#microsoft.graph.cancelMediaProcessingOperation': '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
          '#microsoft.graph.inviteParticipantsOperation': '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
          '#microsoft.graph.muteParticipantOperation': '#/components/schemas/microsoft.graph.muteParticipantOperation'
          '#microsoft.graph.playPromptOperation': '#/components/schemas/microsoft.graph.playPromptOperation'
          '#microsoft.graph.recordOperation': '#/components/schemas/microsoft.graph.recordOperation'
          '#microsoft.graph.sendDtmfTonesOperation': '#/components/schemas/microsoft.graph.sendDtmfTonesOperation'
          '#microsoft.graph.startHoldMusicOperation': '#/components/schemas/microsoft.graph.startHoldMusicOperation'
          '#microsoft.graph.stopHoldMusicOperation': '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
          '#microsoft.graph.subscribeToToneOperation': '#/components/schemas/microsoft.graph.subscribeToToneOperation'
          '#microsoft.graph.unmuteParticipantOperation': '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
          '#microsoft.graph.updateRecordingStatusOperation': '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
          '#microsoft.graph.companySubscription': '#/components/schemas/microsoft.graph.companySubscription'
          '#microsoft.graph.complianceManagementPartner': '#/components/schemas/microsoft.graph.complianceManagementPartner'
          '#microsoft.graph.conditionalAccessPolicy': '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
          '#microsoft.graph.conditionalAccessRoot': '#/components/schemas/microsoft.graph.conditionalAccessRoot'
          '#microsoft.graph.conditionalAccessTemplate': '#/components/schemas/microsoft.graph.conditionalAccessTemplate'
          '#microsoft.graph.connectedOrganization': '#/components/schemas/microsoft.graph.connectedOrganization'
          '#microsoft.graph.contactFolder': '#/components/schemas/microsoft.graph.contactFolder'
          '#microsoft.graph.contentSharingSession': '#/components/schemas/microsoft.graph.contentSharingSession'
          '#microsoft.graph.contentType': '#/components/schemas/microsoft.graph.contentType'
          '#microsoft.graph.conversation': '#/components/schemas/microsoft.graph.conversation'
          '#microsoft.graph.conversationMember': '#/components/schemas/microsoft.graph.conversationMember'
          '#microsoft.graph.aadUserConversationMember': '#/components/schemas/microsoft.graph.aadUserConversationMember'
          '#microsoft.graph.anonymousGuestConversationMember': '#/components/schemas/microsoft.graph.anonymousGuestConversationMember'
          '#microsoft.graph.azureCommunicationServicesUserConversationMember': '#/components/schemas/microsoft.graph.azureCommunicationServicesUserConversationMember'
          '#microsoft.graph.microsoftAccountUserConversationMember': '#/components/schemas/microsoft.graph.microsoftAccountUserConversationMember'
          '#microsoft.graph.skypeForBusinessUserConversationMember': '#/components/schemas/microsoft.graph.skypeForBusinessUserConversationMember'
          '#microsoft.graph.skypeUserConversationMember': '#/components/schemas/microsoft.graph.skypeUserConversationMember'
          '#microsoft.graph.conversationThread': '#/components/schemas/microsoft.graph.conversationThread'
          '#microsoft.graph.crossTenantAccessPolicyConfigurationDefault': '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
          '#microsoft.graph.customCalloutExtension': '#/components/schemas/microsoft.graph.customCalloutExtension'
          '#microsoft.graph.accessPackageAssignmentRequestWorkflowExtension': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequestWorkflowExtension'
          '#microsoft.graph.accessPackageAssignmentWorkflowExtension': '#/components/schemas/microsoft.graph.accessPackageAssignmentWorkflowExtension'
          '#microsoft.graph.customAuthenticationExtension': '#/components/schemas/microsoft.graph.customAuthenticationExtension'
          '#microsoft.graph.onTokenIssuanceStartCustomExtension': '#/components/schemas/microsoft.graph.onTokenIssuanceStartCustomExtension'
          '#microsoft.graph.identityGovernance.customTaskExtension': '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
          '#microsoft.graph.customExtensionStageSetting': '#/components/schemas/microsoft.graph.customExtensionStageSetting'
          '#microsoft.graph.customSecurityAttributeDefinition': '#/components/schemas/microsoft.graph.customSecurityAttributeDefinition'
          '#microsoft.graph.dataPolicyOperation': '#/components/schemas/microsoft.graph.dataPolicyOperation'
          '#microsoft.graph.delegatedAdminAccessAssignment': '#/components/schemas/microsoft.graph.delegatedAdminAccessAssignment'
          '#microsoft.graph.delegatedAdminCustomer': '#/components/schemas/microsoft.graph.delegatedAdminCustomer'
          '#microsoft.graph.delegatedAdminRelationship': '#/components/schemas/microsoft.graph.delegatedAdminRelationship'
          '#microsoft.graph.resellerDelegatedAdminRelationship': '#/components/schemas/microsoft.graph.resellerDelegatedAdminRelationship'
          '#microsoft.graph.delegatedAdminRelationshipOperation': '#/components/schemas/microsoft.graph.delegatedAdminRelationshipOperation'
          '#microsoft.graph.delegatedAdminRelationshipRequest': '#/components/schemas/microsoft.graph.delegatedAdminRelationshipRequest'
          '#microsoft.graph.delegatedAdminServiceManagementDetail': '#/components/schemas/microsoft.graph.delegatedAdminServiceManagementDetail'
          '#microsoft.graph.delegatedPermissionClassification': '#/components/schemas/microsoft.graph.delegatedPermissionClassification'
          '#microsoft.graph.deletedChat': '#/components/schemas/microsoft.graph.deletedChat'
          '#microsoft.graph.deletedItemContainer': '#/components/schemas/microsoft.graph.deletedItemContainer'
          '#microsoft.graph.deletedTeam': '#/components/schemas/microsoft.graph.deletedTeam'
          '#microsoft.graph.deltaParticipants': '#/components/schemas/microsoft.graph.deltaParticipants'
          '#microsoft.graph.detectedApp': '#/components/schemas/microsoft.graph.detectedApp'
          '#microsoft.graph.deviceAppManagement': '#/components/schemas/microsoft.graph.deviceAppManagement'
          '#microsoft.graph.deviceCategory': '#/components/schemas/microsoft.graph.deviceCategory'
          '#microsoft.graph.deviceComplianceActionItem': '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
          '#microsoft.graph.deviceComplianceDeviceOverview': '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
          '#microsoft.graph.deviceComplianceDeviceStatus': '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
          '#microsoft.graph.deviceCompliancePolicy': '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
          '#microsoft.graph.androidCompliancePolicy': '#/components/schemas/microsoft.graph.androidCompliancePolicy'
          '#microsoft.graph.androidWorkProfileCompliancePolicy': '#/components/schemas/microsoft.graph.androidWorkProfileCompliancePolicy'
          '#microsoft.graph.iosCompliancePolicy': '#/components/schemas/microsoft.graph.iosCompliancePolicy'
          '#microsoft.graph.macOSCompliancePolicy': '#/components/schemas/microsoft.graph.macOSCompliancePolicy'
          '#microsoft.graph.windows10CompliancePolicy': '#/components/schemas/microsoft.graph.windows10CompliancePolicy'
          '#microsoft.graph.windows10MobileCompliancePolicy': '#/components/schemas/microsoft.graph.windows10MobileCompliancePolicy'
          '#microsoft.graph.windows81CompliancePolicy': '#/components/schemas/microsoft.graph.windows81CompliancePolicy'
          '#microsoft.graph.windowsPhone81CompliancePolicy': '#/components/schemas/microsoft.graph.windowsPhone81CompliancePolicy'
          '#microsoft.graph.deviceCompliancePolicyAssignment': '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
          '#microsoft.graph.deviceCompliancePolicyDeviceStateSummary': '#/components/schemas/microsoft.graph.deviceCompliancePolicyDeviceStateSummary'
          '#microsoft.graph.deviceCompliancePolicySettingStateSummary': '#/components/schemas/microsoft.graph.deviceCompliancePolicySettingStateSummary'
          '#microsoft.graph.deviceCompliancePolicyState': '#/components/schemas/microsoft.graph.deviceCompliancePolicyState'
          '#microsoft.graph.deviceComplianceScheduledActionForRule': '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
          '#microsoft.graph.deviceComplianceSettingState': '#/components/schemas/microsoft.graph.deviceComplianceSettingState'
          '#microsoft.graph.deviceComplianceUserOverview': '#/components/schemas/microsoft.graph.deviceComplianceUserOverview'
          '#microsoft.graph.deviceComplianceUserStatus': '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
          '#microsoft.graph.deviceConfiguration': '#/components/schemas/microsoft.graph.deviceConfiguration'
          '#microsoft.graph.androidCustomConfiguration': '#/components/schemas/microsoft.graph.androidCustomConfiguration'
          '#microsoft.graph.androidGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.androidGeneralDeviceConfiguration'
          '#microsoft.graph.androidWorkProfileCustomConfiguration': '#/components/schemas/microsoft.graph.androidWorkProfileCustomConfiguration'
          '#microsoft.graph.androidWorkProfileGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.androidWorkProfileGeneralDeviceConfiguration'
          '#microsoft.graph.appleDeviceFeaturesConfigurationBase': '#/components/schemas/microsoft.graph.appleDeviceFeaturesConfigurationBase'
          '#microsoft.graph.iosDeviceFeaturesConfiguration': '#/components/schemas/microsoft.graph.iosDeviceFeaturesConfiguration'
          '#microsoft.graph.macOSDeviceFeaturesConfiguration': '#/components/schemas/microsoft.graph.macOSDeviceFeaturesConfiguration'
          '#microsoft.graph.editionUpgradeConfiguration': '#/components/schemas/microsoft.graph.editionUpgradeConfiguration'
          '#microsoft.graph.iosCertificateProfile': '#/components/schemas/microsoft.graph.iosCertificateProfile'
          '#microsoft.graph.iosCustomConfiguration': '#/components/schemas/microsoft.graph.iosCustomConfiguration'
          '#microsoft.graph.iosGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.iosGeneralDeviceConfiguration'
          '#microsoft.graph.iosUpdateConfiguration': '#/components/schemas/microsoft.graph.iosUpdateConfiguration'
          '#microsoft.graph.macOSCustomConfiguration': '#/components/schemas/microsoft.graph.macOSCustomConfiguration'
          '#microsoft.graph.macOSGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.macOSGeneralDeviceConfiguration'
          '#microsoft.graph.sharedPCConfiguration': '#/components/schemas/microsoft.graph.sharedPCConfiguration'
          '#microsoft.graph.windows10CustomConfiguration': '#/components/schemas/microsoft.graph.windows10CustomConfiguration'
          '#microsoft.graph.windows10EndpointProtectionConfiguration': '#/components/schemas/microsoft.graph.windows10EndpointProtectionConfiguration'
          '#microsoft.graph.windows10EnterpriseModernAppManagementConfiguration': '#/components/schemas/microsoft.graph.windows10EnterpriseModernAppManagementConfiguration'
          '#microsoft.graph.windows10GeneralConfiguration': '#/components/schemas/microsoft.graph.windows10GeneralConfiguration'
          '#microsoft.graph.windows10SecureAssessmentConfiguration': '#/components/schemas/microsoft.graph.windows10SecureAssessmentConfiguration'
          '#microsoft.graph.windows10TeamGeneralConfiguration': '#/components/schemas/microsoft.graph.windows10TeamGeneralConfiguration'
          '#microsoft.graph.windows81GeneralConfiguration': '#/components/schemas/microsoft.graph.windows81GeneralConfiguration'
          '#microsoft.graph.windowsDefenderAdvancedThreatProtectionConfiguration': '#/components/schemas/microsoft.graph.windowsDefenderAdvancedThreatProtectionConfiguration'
          '#microsoft.graph.windowsPhone81CustomConfiguration': '#/components/schemas/microsoft.graph.windowsPhone81CustomConfiguration'
          '#microsoft.graph.windowsPhone81GeneralConfiguration': '#/components/schemas/microsoft.graph.windowsPhone81GeneralConfiguration'
          '#microsoft.graph.windowsUpdateForBusinessConfiguration': '#/components/schemas/microsoft.graph.windowsUpdateForBusinessConfiguration'
          '#microsoft.graph.deviceConfigurationAssignment': '#/components/schemas/microsoft.graph.deviceConfigurationAssignment'
          '#microsoft.graph.deviceConfigurationDeviceOverview': '#/components/schemas/microsoft.graph.deviceConfigurationDeviceOverview'
          '#microsoft.graph.deviceConfigurationDeviceStateSummary': '#/components/schemas/microsoft.graph.deviceConfigurationDeviceStateSummary'
          '#microsoft.graph.deviceConfigurationDeviceStatus': '#/components/schemas/microsoft.graph.deviceConfigurationDeviceStatus'
          '#microsoft.graph.deviceConfigurationState': '#/components/schemas/microsoft.graph.deviceConfigurationState'
          '#microsoft.graph.deviceConfigurationUserOverview': '#/components/schemas/microsoft.graph.deviceConfigurationUserOverview'
          '#microsoft.graph.deviceConfigurationUserStatus': '#/components/schemas/microsoft.graph.deviceConfigurationUserStatus'
          '#microsoft.graph.deviceEnrollmentConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
          '#microsoft.graph.deviceEnrollmentLimitConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentLimitConfiguration'
          '#microsoft.graph.deviceEnrollmentPlatformRestrictionsConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentPlatformRestrictionsConfiguration'
          '#microsoft.graph.deviceEnrollmentWindowsHelloForBusinessConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentWindowsHelloForBusinessConfiguration'
          '#microsoft.graph.windows10EnrollmentCompletionPageConfiguration': '#/components/schemas/microsoft.graph.windows10EnrollmentCompletionPageConfiguration'
          '#microsoft.graph.deviceInstallState': '#/components/schemas/microsoft.graph.deviceInstallState'
          '#microsoft.graph.deviceLocalCredentialInfo': '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
          '#microsoft.graph.deviceLogCollectionResponse': '#/components/schemas/microsoft.graph.deviceLogCollectionResponse'
          '#microsoft.graph.deviceManagement': '#/components/schemas/microsoft.graph.deviceManagement'
          '#microsoft.graph.deviceManagementCachedReportConfiguration': '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
          '#microsoft.graph.deviceManagementExchangeConnector': '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
          '#microsoft.graph.deviceManagementExportJob': '#/components/schemas/microsoft.graph.deviceManagementExportJob'
          '#microsoft.graph.deviceManagementPartner': '#/components/schemas/microsoft.graph.deviceManagementPartner'
          '#microsoft.graph.deviceManagementReports': '#/components/schemas/microsoft.graph.deviceManagementReports'
          '#microsoft.graph.deviceManagementTroubleshootingEvent': '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingEvent'
          '#microsoft.graph.enrollmentTroubleshootingEvent': '#/components/schemas/microsoft.graph.enrollmentTroubleshootingEvent'
          '#microsoft.graph.deviceRegistrationPolicy': '#/components/schemas/microsoft.graph.deviceRegistrationPolicy'
          '#microsoft.graph.directory': '#/components/schemas/microsoft.graph.directory'
          '#microsoft.graph.directoryAudit': '#/components/schemas/microsoft.graph.directoryAudit'
          '#microsoft.graph.directoryDefinition': '#/components/schemas/microsoft.graph.directoryDefinition'
          '#microsoft.graph.directoryObject': '#/components/schemas/microsoft.graph.directoryObject'
          '#microsoft.graph.administrativeUnit': '#/components/schemas/microsoft.graph.administrativeUnit'
          '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
          '#microsoft.graph.appRoleAssignment': '#/components/schemas/microsoft.graph.appRoleAssignment'
          '#microsoft.graph.contract': '#/components/schemas/microsoft.graph.contract'
          '#microsoft.graph.device': '#/components/schemas/microsoft.graph.device'
          '#microsoft.graph.directoryObjectPartnerReference': '#/components/schemas/microsoft.graph.directoryObjectPartnerReference'
          '#microsoft.graph.directoryRole': '#/components/schemas/microsoft.graph.directoryRole'
          '#microsoft.graph.directoryRoleTemplate': '#/components/schemas/microsoft.graph.directoryRoleTemplate'
          '#microsoft.graph.endpoint': '#/components/schemas/microsoft.graph.endpoint'
          '#microsoft.graph.extensionProperty': '#/components/schemas/microsoft.graph.extensionProperty'
          '#microsoft.graph.group': '#/components/schemas/microsoft.graph.group'
          '#microsoft.graph.groupSettingTemplate': '#/components/schemas/microsoft.graph.groupSettingTemplate'
          '#microsoft.graph.multiTenantOrganizationMember': '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
          '#microsoft.graph.organization': '#/components/schemas/microsoft.graph.organization'
          '#microsoft.graph.orgContact': '#/components/schemas/microsoft.graph.orgContact'
          '#microsoft.graph.policyBase': '#/components/schemas/microsoft.graph.policyBase'
          '#microsoft.graph.appManagementPolicy': '#/components/schemas/microsoft.graph.appManagementPolicy'
          '#microsoft.graph.authorizationPolicy': '#/components/schemas/microsoft.graph.authorizationPolicy'
          '#microsoft.graph.crossTenantAccessPolicy': '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
          '#microsoft.graph.identitySecurityDefaultsEnforcementPolicy': '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
          '#microsoft.graph.permissionGrantPolicy': '#/components/schemas/microsoft.graph.permissionGrantPolicy'
          '#microsoft.graph.stsPolicy': '#/components/schemas/microsoft.graph.stsPolicy'
          '#microsoft.graph.activityBasedTimeoutPolicy': '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
          '#microsoft.graph.claimsMappingPolicy': '#/components/schemas/microsoft.graph.claimsMappingPolicy'
          '#microsoft.graph.homeRealmDiscoveryPolicy': '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
          '#microsoft.graph.tokenIssuancePolicy': '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
          '#microsoft.graph.tokenLifetimePolicy': '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
          '#microsoft.graph.tenantAppManagementPolicy': '#/components/schemas/microsoft.graph.tenantAppManagementPolicy'
          '#microsoft.graph.resourceSpecificPermissionGrant': '#/components/schemas/microsoft.graph.resourceSpecificPermissionGrant'
          '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
          '#microsoft.graph.user': '#/components/schemas/microsoft.graph.user'
          '#microsoft.graph.domain': '#/components/schemas/microsoft.graph.domain'
          '#microsoft.graph.domainDnsRecord': '#/components/schemas/microsoft.graph.domainDnsRecord'
          '#microsoft.graph.domainDnsCnameRecord': '#/components/schemas/microsoft.graph.domainDnsCnameRecord'
          '#microsoft.graph.domainDnsMxRecord': '#/components/schemas/microsoft.graph.domainDnsMxRecord'
          '#microsoft.graph.domainDnsSrvRecord': '#/components/schemas/microsoft.graph.domainDnsSrvRecord'
          '#microsoft.graph.domainDnsTxtRecord': '#/components/schemas/microsoft.graph.domainDnsTxtRecord'
          '#microsoft.graph.domainDnsUnavailableRecord': '#/components/schemas/microsoft.graph.domainDnsUnavailableRecord'
          '#microsoft.graph.eBookInstallSummary': '#/components/schemas/microsoft.graph.eBookInstallSummary'
          '#microsoft.graph.edge': '#/components/schemas/microsoft.graph.edge'
          '#microsoft.graph.educationAssignment': '#/components/schemas/microsoft.graph.educationAssignment'
          '#microsoft.graph.educationAssignmentDefaults': '#/components/schemas/microsoft.graph.educationAssignmentDefaults'
          '#microsoft.graph.educationAssignmentResource': '#/components/schemas/microsoft.graph.educationAssignmentResource'
          '#microsoft.graph.educationAssignmentSettings': '#/components/schemas/microsoft.graph.educationAssignmentSettings'
          '#microsoft.graph.educationCategory': '#/components/schemas/microsoft.graph.educationCategory'
          '#microsoft.graph.educationClass': '#/components/schemas/microsoft.graph.educationClass'
          '#microsoft.graph.educationGradingCategory': '#/components/schemas/microsoft.graph.educationGradingCategory'
          '#microsoft.graph.educationModule': '#/components/schemas/microsoft.graph.educationModule'
          '#microsoft.graph.educationModuleResource': '#/components/schemas/microsoft.graph.educationModuleResource'
          '#microsoft.graph.educationOrganization': '#/components/schemas/microsoft.graph.educationOrganization'
          '#microsoft.graph.educationSchool': '#/components/schemas/microsoft.graph.educationSchool'
          '#microsoft.graph.educationOutcome': '#/components/schemas/microsoft.graph.educationOutcome'
          '#microsoft.graph.educationFeedbackOutcome': '#/components/schemas/microsoft.graph.educationFeedbackOutcome'
          '#microsoft.graph.educationFeedbackResourceOutcome': '#/components/schemas/microsoft.graph.educationFeedbackResourceOutcome'
          '#microsoft.graph.educationPointsOutcome': '#/components/schemas/microsoft.graph.educationPointsOutcome'
          '#microsoft.graph.educationRubricOutcome': '#/components/schemas/microsoft.graph.educationRubricOutcome'
          '#microsoft.graph.educationRubric': '#/components/schemas/microsoft.graph.educationRubric'
          '#microsoft.graph.educationSubmission': '#/components/schemas/microsoft.graph.educationSubmission'
          '#microsoft.graph.educationSubmissionResource': '#/components/schemas/microsoft.graph.educationSubmissionResource'
          '#microsoft.graph.educationUser': '#/components/schemas/microsoft.graph.educationUser'
          '#microsoft.graph.employeeExperienceUser': '#/components/schemas/microsoft.graph.employeeExperienceUser'
          '#microsoft.graph.endUserNotification': '#/components/schemas/microsoft.graph.endUserNotification'
          '#microsoft.graph.endUserNotificationDetail': '#/components/schemas/microsoft.graph.endUserNotificationDetail'
          '#microsoft.graph.enrollmentConfigurationAssignment': '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
          '#microsoft.graph.enterpriseCodeSigningCertificate': '#/components/schemas/microsoft.graph.enterpriseCodeSigningCertificate'
          '#microsoft.graph.entitlementManagement': '#/components/schemas/microsoft.graph.entitlementManagement'
          '#microsoft.graph.entitlementManagementSettings': '#/components/schemas/microsoft.graph.entitlementManagementSettings'
          '#microsoft.graph.extension': '#/components/schemas/microsoft.graph.extension'
          '#microsoft.graph.openTypeExtension': '#/components/schemas/microsoft.graph.openTypeExtension'
          '#microsoft.graph.externalDomainName': '#/components/schemas/microsoft.graph.externalDomainName'
          '#microsoft.graph.featureRolloutPolicy': '#/components/schemas/microsoft.graph.featureRolloutPolicy'
          '#microsoft.graph.federatedIdentityCredential': '#/components/schemas/microsoft.graph.federatedIdentityCredential'
          '#microsoft.graph.fieldValueSet': '#/components/schemas/microsoft.graph.fieldValueSet'
          '#microsoft.graph.fileStorage': '#/components/schemas/microsoft.graph.fileStorage'
          '#microsoft.graph.fileStorageContainer': '#/components/schemas/microsoft.graph.fileStorageContainer'
          '#microsoft.graph.filterOperatorSchema': '#/components/schemas/microsoft.graph.filterOperatorSchema'
          '#microsoft.graph.governanceInsight': '#/components/schemas/microsoft.graph.governanceInsight'
          '#microsoft.graph.membershipOutlierInsight': '#/components/schemas/microsoft.graph.membershipOutlierInsight'
          '#microsoft.graph.userSignInInsight': '#/components/schemas/microsoft.graph.userSignInInsight'
          '#microsoft.graph.groupLifecyclePolicy': '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
          '#microsoft.graph.groupSetting': '#/components/schemas/microsoft.graph.groupSetting'
          '#microsoft.graph.horizontalSection': '#/components/schemas/microsoft.graph.horizontalSection'
          '#microsoft.graph.horizontalSectionColumn': '#/components/schemas/microsoft.graph.horizontalSectionColumn'
          '#microsoft.graph.identityApiConnector': '#/components/schemas/microsoft.graph.identityApiConnector'
          '#microsoft.graph.identityContainer': '#/components/schemas/microsoft.graph.identityContainer'
          '#microsoft.graph.identityProvider': '#/components/schemas/microsoft.graph.identityProvider'
          '#microsoft.graph.identityProviderBase': '#/components/schemas/microsoft.graph.identityProviderBase'
          '#microsoft.graph.appleManagedIdentityProvider': '#/components/schemas/microsoft.graph.appleManagedIdentityProvider'
          '#microsoft.graph.builtInIdentityProvider': '#/components/schemas/microsoft.graph.builtInIdentityProvider'
          '#microsoft.graph.samlOrWsFedProvider': '#/components/schemas/microsoft.graph.samlOrWsFedProvider'
          '#microsoft.graph.internalDomainFederation': '#/components/schemas/microsoft.graph.internalDomainFederation'
          '#microsoft.graph.samlOrWsFedExternalDomainFederation': '#/components/schemas/microsoft.graph.samlOrWsFedExternalDomainFederation'
          '#microsoft.graph.socialIdentityProvider': '#/components/schemas/microsoft.graph.socialIdentityProvider'
          '#microsoft.graph.identityUserFlow': '#/components/schemas/microsoft.graph.identityUserFlow'
          '#microsoft.graph.b2xIdentityUserFlow': '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
          '#microsoft.graph.identityUserFlowAttribute': '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
          '#microsoft.graph.identityBuiltInUserFlowAttribute': '#/components/schemas/microsoft.graph.identityBuiltInUserFlowAttribute'
          '#microsoft.graph.identityCustomUserFlowAttribute': '#/components/schemas/microsoft.graph.identityCustomUserFlowAttribute'
          '#microsoft.graph.identityUserFlowAttributeAssignment': '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
          '#microsoft.graph.importedWindowsAutopilotDeviceIdentity': '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
          '#microsoft.graph.importedWindowsAutopilotDeviceIdentityUpload': '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentityUpload'
          '#microsoft.graph.inferenceClassification': '#/components/schemas/microsoft.graph.inferenceClassification'
          '#microsoft.graph.inferenceClassificationOverride': '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
          '#microsoft.graph.insightsSettings': '#/components/schemas/microsoft.graph.insightsSettings'
          '#microsoft.graph.internetExplorerMode': '#/components/schemas/microsoft.graph.internetExplorerMode'
          '#microsoft.graph.invitation': '#/components/schemas/microsoft.graph.invitation'
          '#microsoft.graph.iosLobAppProvisioningConfigurationAssignment': '#/components/schemas/microsoft.graph.iosLobAppProvisioningConfigurationAssignment'
          '#microsoft.graph.iosUpdateDeviceStatus': '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
          '#microsoft.graph.itemActivity': '#/components/schemas/microsoft.graph.itemActivity'
          '#microsoft.graph.itemActivityStat': '#/components/schemas/microsoft.graph.itemActivityStat'
          '#microsoft.graph.itemAnalytics': '#/components/schemas/microsoft.graph.itemAnalytics'
          '#microsoft.graph.itemRetentionLabel': '#/components/schemas/microsoft.graph.itemRetentionLabel'
          '#microsoft.graph.landingPage': '#/components/schemas/microsoft.graph.landingPage'
          '#microsoft.graph.landingPageDetail': '#/components/schemas/microsoft.graph.landingPageDetail'
          '#microsoft.graph.learningContent': '#/components/schemas/microsoft.graph.learningContent'
          '#microsoft.graph.learningCourseActivity': '#/components/schemas/microsoft.graph.learningCourseActivity'
          '#microsoft.graph.learningAssignment': '#/components/schemas/microsoft.graph.learningAssignment'
          '#microsoft.graph.learningSelfInitiatedCourse': '#/components/schemas/microsoft.graph.learningSelfInitiatedCourse'
          '#microsoft.graph.learningProvider': '#/components/schemas/microsoft.graph.learningProvider'
          '#microsoft.graph.licenseDetails': '#/components/schemas/microsoft.graph.licenseDetails'
          '#microsoft.graph.linkedResource': '#/components/schemas/microsoft.graph.linkedResource'
          '#microsoft.graph.localizedNotificationMessage': '#/components/schemas/microsoft.graph.localizedNotificationMessage'
          '#microsoft.graph.loginPage': '#/components/schemas/microsoft.graph.loginPage'
          '#microsoft.graph.longRunningOperation': '#/components/schemas/microsoft.graph.longRunningOperation'
          '#microsoft.graph.attackSimulationOperation': '#/components/schemas/microsoft.graph.attackSimulationOperation'
          '#microsoft.graph.richLongRunningOperation': '#/components/schemas/microsoft.graph.richLongRunningOperation'
          '#microsoft.graph.m365AppsInstallationOptions': '#/components/schemas/microsoft.graph.m365AppsInstallationOptions'
          '#microsoft.graph.mailFolder': '#/components/schemas/microsoft.graph.mailFolder'
          '#microsoft.graph.mailSearchFolder': '#/components/schemas/microsoft.graph.mailSearchFolder'
          '#microsoft.graph.malwareStateForWindowsDevice': '#/components/schemas/microsoft.graph.malwareStateForWindowsDevice'
          '#microsoft.graph.managedAppOperation': '#/components/schemas/microsoft.graph.managedAppOperation'
          '#microsoft.graph.managedAppPolicy': '#/components/schemas/microsoft.graph.managedAppPolicy'
          '#microsoft.graph.managedAppConfiguration': '#/components/schemas/microsoft.graph.managedAppConfiguration'
          '#microsoft.graph.targetedManagedAppConfiguration': '#/components/schemas/microsoft.graph.targetedManagedAppConfiguration'
          '#microsoft.graph.managedAppProtection': '#/components/schemas/microsoft.graph.managedAppProtection'
          '#microsoft.graph.defaultManagedAppProtection': '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
          '#microsoft.graph.targetedManagedAppProtection': '#/components/schemas/microsoft.graph.targetedManagedAppProtection'
          '#microsoft.graph.androidManagedAppProtection': '#/components/schemas/microsoft.graph.androidManagedAppProtection'
          '#microsoft.graph.iosManagedAppProtection': '#/components/schemas/microsoft.graph.iosManagedAppProtection'
          '#microsoft.graph.windowsInformationProtection': '#/components/schemas/microsoft.graph.windowsInformationProtection'
          '#microsoft.graph.mdmWindowsInformationProtectionPolicy': '#/components/schemas/microsoft.graph.mdmWindowsInformationProtectionPolicy'
          '#microsoft.graph.windowsInformationProtectionPolicy': '#/components/schemas/microsoft.graph.windowsInformationProtectionPolicy'
          '#microsoft.graph.managedAppPolicyDeploymentSummary': '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
          '#microsoft.graph.managedAppRegistration': '#/components/schemas/microsoft.graph.managedAppRegistration'
          '#microsoft.graph.androidManagedAppRegistration': '#/components/schemas/microsoft.graph.androidManagedAppRegistration'
          '#microsoft.graph.iosManagedAppRegistration': '#/components/schemas/microsoft.graph.iosManagedAppRegistration'
          '#microsoft.graph.managedAppStatus': '#/components/schemas/microsoft.graph.managedAppStatus'
          '#microsoft.graph.managedAppStatusRaw': '#/components/schemas/microsoft.graph.managedAppStatusRaw'
          '#microsoft.graph.managedDevice': '#/components/schemas/microsoft.graph.managedDevice'
          '#microsoft.graph.managedDeviceMobileAppConfiguration': '#/components/schemas/microsoft.graph.managedDeviceMobileAppConfiguration'
          '#microsoft.graph.iosMobileAppConfiguration': '#/components/schemas/microsoft.graph.iosMobileAppConfiguration'
          '#microsoft.graph.managedDeviceMobileAppConfigurationAssignment': '#/components/schemas/microsoft.graph.managedDeviceMobileAppConfigurationAssignment'
          '#microsoft.graph.managedDeviceMobileAppConfigurationDeviceStatus': '#/components/schemas/microsoft.graph.managedDeviceMobileAppConfigurationDeviceStatus'
          '#microsoft.graph.managedDeviceMobileAppConfigurationDeviceSummary': '#/components/schemas/microsoft.graph.managedDeviceMobileAppConfigurationDeviceSummary'
          '#microsoft.graph.managedDeviceMobileAppConfigurationUserStatus': '#/components/schemas/microsoft.graph.managedDeviceMobileAppConfigurationUserStatus'
          '#microsoft.graph.managedDeviceMobileAppConfigurationUserSummary': '#/components/schemas/microsoft.graph.managedDeviceMobileAppConfigurationUserSummary'
          '#microsoft.graph.managedDeviceOverview': '#/components/schemas/microsoft.graph.managedDeviceOverview'
          '#microsoft.graph.managedEBook': '#/components/schemas/microsoft.graph.managedEBook'
          '#microsoft.graph.iosVppEBook': '#/components/schemas/microsoft.graph.iosVppEBook'
          '#microsoft.graph.managedEBookAssignment': '#/components/schemas/microsoft.graph.managedEBookAssignment'
          '#microsoft.graph.iosVppEBookAssignment': '#/components/schemas/microsoft.graph.iosVppEBookAssignment'
          '#microsoft.graph.managedMobileApp': '#/components/schemas/microsoft.graph.managedMobileApp'
          '#microsoft.graph.meetingAttendanceReport': '#/components/schemas/microsoft.graph.meetingAttendanceReport'
          '#microsoft.graph.messageRule': '#/components/schemas/microsoft.graph.messageRule'
          '#microsoft.graph.mobileApp': '#/components/schemas/microsoft.graph.mobileApp'
          '#microsoft.graph.androidStoreApp': '#/components/schemas/microsoft.graph.androidStoreApp'
          '#microsoft.graph.iosiPadOSWebClip': '#/components/schemas/microsoft.graph.iosiPadOSWebClip'
          '#microsoft.graph.iosStoreApp': '#/components/schemas/microsoft.graph.iosStoreApp'
          '#microsoft.graph.iosVppApp': '#/components/schemas/microsoft.graph.iosVppApp'
          '#microsoft.graph.macOSMicrosoftDefenderApp': '#/components/schemas/microsoft.graph.macOSMicrosoftDefenderApp'
          '#microsoft.graph.macOSMicrosoftEdgeApp': '#/components/schemas/microsoft.graph.macOSMicrosoftEdgeApp'
          '#microsoft.graph.macOSOfficeSuiteApp': '#/components/schemas/microsoft.graph.macOSOfficeSuiteApp'
          '#microsoft.graph.managedApp': '#/components/schemas/microsoft.graph.managedApp'
          '#microsoft.graph.managedAndroidStoreApp': '#/components/schemas/microsoft.graph.managedAndroidStoreApp'
          '#microsoft.graph.managedIOSStoreApp': '#/components/schemas/microsoft.graph.managedIOSStoreApp'
          '#microsoft.graph.managedMobileLobApp': '#/components/schemas/microsoft.graph.managedMobileLobApp'
          '#microsoft.graph.managedAndroidLobApp': '#/components/schemas/microsoft.graph.managedAndroidLobApp'
          '#microsoft.graph.managedIOSLobApp': '#/components/schemas/microsoft.graph.managedIOSLobApp'
          '#microsoft.graph.microsoftStoreForBusinessApp': '#/components/schemas/microsoft.graph.microsoftStoreForBusinessApp'
          '#microsoft.graph.mobileLobApp': '#/components/schemas/microsoft.graph.mobileLobApp'
          '#microsoft.graph.androidLobApp': '#/components/schemas/microsoft.graph.androidLobApp'
          '#microsoft.graph.iosLobApp': '#/components/schemas/microsoft.graph.iosLobApp'
          '#microsoft.graph.macOSDmgApp': '#/components/schemas/microsoft.graph.macOSDmgApp'
          '#microsoft.graph.macOSLobApp': '#/components/schemas/microsoft.graph.macOSLobApp'
          '#microsoft.graph.win32LobApp': '#/components/schemas/microsoft.graph.win32LobApp'
          '#microsoft.graph.windowsAppX': '#/components/schemas/microsoft.graph.windowsAppX'
          '#microsoft.graph.windowsMobileMSI': '#/components/schemas/microsoft.graph.windowsMobileMSI'
          '#microsoft.graph.windowsUniversalAppX': '#/components/schemas/microsoft.graph.windowsUniversalAppX'
          '#microsoft.graph.webApp': '#/components/schemas/microsoft.graph.webApp'
          '#microsoft.graph.windowsMicrosoftEdgeApp': '#/components/schemas/microsoft.graph.windowsMicrosoftEdgeApp'
          '#microsoft.graph.windowsWebApp': '#/components/schemas/microsoft.graph.windowsWebApp'
          '#microsoft.graph.mobileAppAssignment': '#/components/schemas/microsoft.graph.mobileAppAssignment'
          '#microsoft.graph.mobileAppCategory': '#/components/schemas/microsoft.graph.mobileAppCategory'
          '#microsoft.graph.mobileAppContent': '#/components/schemas/microsoft.graph.mobileAppContent'
          '#microsoft.graph.mobileAppContentFile': '#/components/schemas/microsoft.graph.mobileAppContentFile'
          '#microsoft.graph.mobileAppTroubleshootingEvent': '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
          '#microsoft.graph.mobileContainedApp': '#/components/schemas/microsoft.graph.mobileContainedApp'
          '#microsoft.graph.windowsUniversalAppXContainedApp': '#/components/schemas/microsoft.graph.windowsUniversalAppXContainedApp'
          '#microsoft.graph.mobileThreatDefenseConnector': '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
          '#microsoft.graph.multiTenantOrganization': '#/components/schemas/microsoft.graph.multiTenantOrganization'
          '#microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate': '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
          '#microsoft.graph.multiTenantOrganizationJoinRequestRecord': '#/components/schemas/microsoft.graph.multiTenantOrganizationJoinRequestRecord'
          '#microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate': '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
          '#microsoft.graph.multiValueLegacyExtendedProperty': '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
          '#microsoft.graph.namedLocation': '#/components/schemas/microsoft.graph.namedLocation'
          '#microsoft.graph.countryNamedLocation': '#/components/schemas/microsoft.graph.countryNamedLocation'
          '#microsoft.graph.ipNamedLocation': '#/components/schemas/microsoft.graph.ipNamedLocation'
          '#microsoft.graph.notificationMessageTemplate': '#/components/schemas/microsoft.graph.notificationMessageTemplate'
          '#microsoft.graph.oAuth2PermissionGrant': '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
          '#microsoft.graph.officeGraphInsights': '#/components/schemas/microsoft.graph.officeGraphInsights'
          '#microsoft.graph.itemInsights': '#/components/schemas/microsoft.graph.itemInsights'
          '#microsoft.graph.onenote': '#/components/schemas/microsoft.graph.onenote'
          '#microsoft.graph.onenoteEntityBaseModel': '#/components/schemas/microsoft.graph.onenoteEntityBaseModel'
          '#microsoft.graph.onenoteEntitySchemaObjectModel': '#/components/schemas/microsoft.graph.onenoteEntitySchemaObjectModel'
          '#microsoft.graph.onenoteEntityHierarchyModel': '#/components/schemas/microsoft.graph.onenoteEntityHierarchyModel'
          '#microsoft.graph.notebook': '#/components/schemas/microsoft.graph.notebook'
          '#microsoft.graph.onenoteSection': '#/components/schemas/microsoft.graph.onenoteSection'
          '#microsoft.graph.sectionGroup': '#/components/schemas/microsoft.graph.sectionGroup'
          '#microsoft.graph.onenotePage': '#/components/schemas/microsoft.graph.onenotePage'
          '#microsoft.graph.onenoteResource': '#/components/schemas/microsoft.graph.onenoteResource'
          '#microsoft.graph.onlineMeetingBase': '#/components/schemas/microsoft.graph.onlineMeetingBase'
          '#microsoft.graph.onlineMeeting': '#/components/schemas/microsoft.graph.onlineMeeting'
          '#microsoft.graph.virtualEventSession': '#/components/schemas/microsoft.graph.virtualEventSession'
          '#microsoft.graph.onPremisesConditionalAccessSettings': '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
          '#microsoft.graph.onPremisesDirectorySynchronization': '#/components/schemas/microsoft.graph.onPremisesDirectorySynchronization'
          '#microsoft.graph.operation': '#/components/schemas/microsoft.graph.operation'
          '#microsoft.graph.onenoteOperation': '#/components/schemas/microsoft.graph.onenoteOperation'
          '#microsoft.graph.organizationalBrandingProperties': '#/components/schemas/microsoft.graph.organizationalBrandingProperties'
          '#microsoft.graph.organizationalBranding': '#/components/schemas/microsoft.graph.organizationalBranding'
          '#microsoft.graph.organizationalBrandingLocalization': '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
          '#microsoft.graph.outlookCategory': '#/components/schemas/microsoft.graph.outlookCategory'
          '#microsoft.graph.outlookItem': '#/components/schemas/microsoft.graph.outlookItem'
          '#microsoft.graph.contact': '#/components/schemas/microsoft.graph.contact'
          '#microsoft.graph.event': '#/components/schemas/microsoft.graph.event'
          '#microsoft.graph.message': '#/components/schemas/microsoft.graph.message'
          '#microsoft.graph.calendarSharingMessage': '#/components/schemas/microsoft.graph.calendarSharingMessage'
          '#microsoft.graph.eventMessage': '#/components/schemas/microsoft.graph.eventMessage'
          '#microsoft.graph.eventMessageRequest': '#/components/schemas/microsoft.graph.eventMessageRequest'
          '#microsoft.graph.eventMessageResponse': '#/components/schemas/microsoft.graph.eventMessageResponse'
          '#microsoft.graph.post': '#/components/schemas/microsoft.graph.post'
          '#microsoft.graph.outlookUser': '#/components/schemas/microsoft.graph.outlookUser'
          '#microsoft.graph.participant': '#/components/schemas/microsoft.graph.participant'
          '#microsoft.graph.participantJoiningNotification': '#/components/schemas/microsoft.graph.participantJoiningNotification'
          '#microsoft.graph.participantLeftNotification': '#/components/schemas/microsoft.graph.participantLeftNotification'
          '#microsoft.graph.partners': '#/components/schemas/microsoft.graph.partners'
          '#microsoft.graph.payload': '#/components/schemas/microsoft.graph.payload'
          '#microsoft.graph.peopleAdminSettings': '#/components/schemas/microsoft.graph.peopleAdminSettings'
          '#microsoft.graph.permission': '#/components/schemas/microsoft.graph.permission'
          '#microsoft.graph.permissionGrantConditionSet': '#/components/schemas/microsoft.graph.permissionGrantConditionSet'
          '#microsoft.graph.person': '#/components/schemas/microsoft.graph.person'
          '#microsoft.graph.pinnedChatMessageInfo': '#/components/schemas/microsoft.graph.pinnedChatMessageInfo'
          '#microsoft.graph.place': '#/components/schemas/microsoft.graph.place'
          '#microsoft.graph.room': '#/components/schemas/microsoft.graph.room'
          '#microsoft.graph.roomList': '#/components/schemas/microsoft.graph.roomList'
          '#microsoft.graph.planner': '#/components/schemas/microsoft.graph.planner'
          '#microsoft.graph.plannerAssignedToTaskBoardTaskFormat': '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
          '#microsoft.graph.plannerBucket': '#/components/schemas/microsoft.graph.plannerBucket'
          '#microsoft.graph.plannerBucketTaskBoardTaskFormat': '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
          '#microsoft.graph.plannerGroup': '#/components/schemas/microsoft.graph.plannerGroup'
          '#microsoft.graph.plannerPlan': '#/components/schemas/microsoft.graph.plannerPlan'
          '#microsoft.graph.plannerPlanDetails': '#/components/schemas/microsoft.graph.plannerPlanDetails'
          '#microsoft.graph.plannerProgressTaskBoardTaskFormat': '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
          '#microsoft.graph.plannerTask': '#/components/schemas/microsoft.graph.plannerTask'
          '#microsoft.graph.plannerTaskDetails': '#/components/schemas/microsoft.graph.plannerTaskDetails'
          '#microsoft.graph.plannerUser': '#/components/schemas/microsoft.graph.plannerUser'
          '#microsoft.graph.policyRoot': '#/components/schemas/microsoft.graph.policyRoot'
          '#microsoft.graph.policyTemplate': '#/components/schemas/microsoft.graph.policyTemplate'
          '#microsoft.graph.presence': '#/components/schemas/microsoft.graph.presence'
          '#microsoft.graph.printConnector': '#/components/schemas/microsoft.graph.printConnector'
          '#microsoft.graph.printDocument': '#/components/schemas/microsoft.graph.printDocument'
          '#microsoft.graph.printerBase': '#/components/schemas/microsoft.graph.printerBase'
          '#microsoft.graph.printer': '#/components/schemas/microsoft.graph.printer'
          '#microsoft.graph.printerShare': '#/components/schemas/microsoft.graph.printerShare'
          '#microsoft.graph.printJob': '#/components/schemas/microsoft.graph.printJob'
          '#microsoft.graph.printOperation': '#/components/schemas/microsoft.graph.printOperation'
          '#microsoft.graph.printerCreateOperation': '#/components/schemas/microsoft.graph.printerCreateOperation'
          '#microsoft.graph.printService': '#/components/schemas/microsoft.graph.printService'
          '#microsoft.graph.printServiceEndpoint': '#/components/schemas/microsoft.graph.printServiceEndpoint'
          '#microsoft.graph.printTask': '#/components/schemas/microsoft.graph.printTask'
          '#microsoft.graph.printTaskDefinition': '#/components/schemas/microsoft.graph.printTaskDefinition'
          '#microsoft.graph.printTaskTrigger': '#/components/schemas/microsoft.graph.printTaskTrigger'
          '#microsoft.graph.printUsage': '#/components/schemas/microsoft.graph.printUsage'
          '#microsoft.graph.printUsageByPrinter': '#/components/schemas/microsoft.graph.printUsageByPrinter'
          '#microsoft.graph.printUsageByUser': '#/components/schemas/microsoft.graph.printUsageByUser'
          '#microsoft.graph.privilegedAccessGroup': '#/components/schemas/microsoft.graph.privilegedAccessGroup'
          '#microsoft.graph.privilegedAccessRoot': '#/components/schemas/microsoft.graph.privilegedAccessRoot'
          '#microsoft.graph.privilegedAccessSchedule': '#/components/schemas/microsoft.graph.privilegedAccessSchedule'
          '#microsoft.graph.privilegedAccessGroupAssignmentSchedule': '#/components/schemas/microsoft.graph.privilegedAccessGroupAssignmentSchedule'
          '#microsoft.graph.privilegedAccessGroupEligibilitySchedule': '#/components/schemas/microsoft.graph.privilegedAccessGroupEligibilitySchedule'
          '#microsoft.graph.privilegedAccessScheduleInstance': '#/components/schemas/microsoft.graph.privilegedAccessScheduleInstance'
          '#microsoft.graph.privilegedAccessGroupAssignmentScheduleInstance': '#/components/schemas/microsoft.graph.privilegedAccessGroupAssignmentScheduleInstance'
          '#microsoft.graph.privilegedAccessGroupEligibilityScheduleInstance': '#/components/schemas/microsoft.graph.privilegedAccessGroupEligibilityScheduleInstance'
          '#microsoft.graph.profileCardProperty': '#/components/schemas/microsoft.graph.profileCardProperty'
          '#microsoft.graph.profilePhoto': '#/components/schemas/microsoft.graph.profilePhoto'
          '#microsoft.graph.pronounsSettings': '#/components/schemas/microsoft.graph.pronounsSettings'
          '#microsoft.graph.provisioningObjectSummary': '#/components/schemas/microsoft.graph.provisioningObjectSummary'
          '#microsoft.graph.rbacApplication': '#/components/schemas/microsoft.graph.rbacApplication'
          '#microsoft.graph.relyingPartyDetailedSummary': '#/components/schemas/microsoft.graph.relyingPartyDetailedSummary'
          '#microsoft.graph.remoteAssistancePartner': '#/components/schemas/microsoft.graph.remoteAssistancePartner'
          '#microsoft.graph.remoteDesktopSecurityConfiguration': '#/components/schemas/microsoft.graph.remoteDesktopSecurityConfiguration'
          '#microsoft.graph.request': '#/components/schemas/microsoft.graph.request'
          '#microsoft.graph.privilegedAccessScheduleRequest': '#/components/schemas/microsoft.graph.privilegedAccessScheduleRequest'
          '#microsoft.graph.privilegedAccessGroupAssignmentScheduleRequest': '#/components/schemas/microsoft.graph.privilegedAccessGroupAssignmentScheduleRequest'
          '#microsoft.graph.privilegedAccessGroupEligibilityScheduleRequest': '#/components/schemas/microsoft.graph.privilegedAccessGroupEligibilityScheduleRequest'
          '#microsoft.graph.unifiedRoleAssignmentScheduleRequest': '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
          '#microsoft.graph.unifiedRoleEligibilityScheduleRequest': '#/components/schemas/microsoft.graph.unifiedRoleEligibilityScheduleRequest'
          '#microsoft.graph.userConsentRequest': '#/components/schemas/microsoft.graph.userConsentRequest'
          '#microsoft.graph.resourceOperation': '#/components/schemas/microsoft.graph.resourceOperation'
          '#microsoft.graph.riskDetection': '#/components/schemas/microsoft.graph.riskDetection'
          '#microsoft.graph.riskyServicePrincipal': '#/components/schemas/microsoft.graph.riskyServicePrincipal'
          '#microsoft.graph.riskyServicePrincipalHistoryItem': '#/components/schemas/microsoft.graph.riskyServicePrincipalHistoryItem'
          '#microsoft.graph.riskyUser': '#/components/schemas/microsoft.graph.riskyUser'
          '#microsoft.graph.riskyUserHistoryItem': '#/components/schemas/microsoft.graph.riskyUserHistoryItem'
          '#microsoft.graph.roleAssignment': '#/components/schemas/microsoft.graph.roleAssignment'
          '#microsoft.graph.deviceAndAppManagementRoleAssignment': '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
          '#microsoft.graph.roleDefinition': '#/components/schemas/microsoft.graph.roleDefinition'
          '#microsoft.graph.deviceAndAppManagementRoleDefinition': '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleDefinition'
          '#microsoft.graph.schedule': '#/components/schemas/microsoft.graph.schedule'
          '#microsoft.graph.schemaExtension': '#/components/schemas/microsoft.graph.schemaExtension'
          '#microsoft.graph.scopedRoleMembership': '#/components/schemas/microsoft.graph.scopedRoleMembership'
          '#microsoft.graph.searchEntity': '#/components/schemas/microsoft.graph.searchEntity'
          '#microsoft.graph.secureScore': '#/components/schemas/microsoft.graph.secureScore'
          '#microsoft.graph.secureScoreControlProfile': '#/components/schemas/microsoft.graph.secureScoreControlProfile'
          '#microsoft.graph.security': '#/components/schemas/microsoft.graph.security'
          '#microsoft.graph.securityReportsRoot': '#/components/schemas/microsoft.graph.securityReportsRoot'
          '#microsoft.graph.serviceAnnouncement': '#/components/schemas/microsoft.graph.serviceAnnouncement'
          '#microsoft.graph.serviceAnnouncementAttachment': '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
          '#microsoft.graph.serviceAnnouncementBase': '#/components/schemas/microsoft.graph.serviceAnnouncementBase'
          '#microsoft.graph.serviceHealthIssue': '#/components/schemas/microsoft.graph.serviceHealthIssue'
          '#microsoft.graph.serviceUpdateMessage': '#/components/schemas/microsoft.graph.serviceUpdateMessage'
          '#microsoft.graph.serviceHealth': '#/components/schemas/microsoft.graph.serviceHealth'
          '#microsoft.graph.servicePrincipalRiskDetection': '#/components/schemas/microsoft.graph.servicePrincipalRiskDetection'
          '#microsoft.graph.settingStateDeviceSummary': '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
          '#microsoft.graph.sharedInsight': '#/components/schemas/microsoft.graph.sharedInsight'
          '#microsoft.graph.sharepoint': '#/components/schemas/microsoft.graph.sharepoint'
          '#microsoft.graph.sharepointSettings': '#/components/schemas/microsoft.graph.sharepointSettings'
          '#microsoft.graph.signIn': '#/components/schemas/microsoft.graph.signIn'
          '#microsoft.graph.simulation': '#/components/schemas/microsoft.graph.simulation'
          '#microsoft.graph.simulationAutomation': '#/components/schemas/microsoft.graph.simulationAutomation'
          '#microsoft.graph.simulationAutomationRun': '#/components/schemas/microsoft.graph.simulationAutomationRun'
          '#microsoft.graph.singleValueLegacyExtendedProperty': '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
          '#microsoft.graph.softwareUpdateStatusSummary': '#/components/schemas/microsoft.graph.softwareUpdateStatusSummary'
          '#microsoft.graph.storageQuotaBreakdown': '#/components/schemas/microsoft.graph.storageQuotaBreakdown'
          '#microsoft.graph.serviceStorageQuotaBreakdown': '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
          '#microsoft.graph.storageSettings': '#/components/schemas/microsoft.graph.storageSettings'
          '#microsoft.graph.subjectRightsRequest': '#/components/schemas/microsoft.graph.subjectRightsRequest'
          '#microsoft.graph.subscribedSku': '#/components/schemas/microsoft.graph.subscribedSku'
          '#microsoft.graph.subscription': '#/components/schemas/microsoft.graph.subscription'
          '#microsoft.graph.synchronization': '#/components/schemas/microsoft.graph.synchronization'
          '#microsoft.graph.synchronizationJob': '#/components/schemas/microsoft.graph.synchronizationJob'
          '#microsoft.graph.synchronizationSchema': '#/components/schemas/microsoft.graph.synchronizationSchema'
          '#microsoft.graph.synchronizationTemplate': '#/components/schemas/microsoft.graph.synchronizationTemplate'
          '#microsoft.graph.targetDeviceGroup': '#/components/schemas/microsoft.graph.targetDeviceGroup'
[...]
